- if @prizes.blank?
  List has no rows
- else
  %table.table.table-condensed
    %tr
      %th
        Type
      %th
        Place
      %th
        Prize
      %th
        Description
      %th
        User
      %th
    - @prizes.each do |prize|
      %tr
        %td

          = prize.prize_type
        %td
          -if prize.place.to_s.match(/[a-zA-Z]/).nil?
            = prize.place.to_i
          -else
            = prize.place
        %td
          -if prize.cost.to_s.match(/[a-zA-Z]/).nil?
            = number_to_currency(prize.cost )
          -else
            =prize.cost

        %td
          -unless prize.description.blank?
            .fix-size-field{style: ' max-width: 100%' }
              =  prize.description
        %td

          - if prize.user
            = link_to "#{  prize.user.first_name}  #{ prize.user.last_name} ",  admin_users_tasks_photo_path({:user_id =>prize.user.id, :hop_id => prize.hop.id})
        %td.buttons-section{style: 'text-align: right'}
          -if (User.producer?(current_user) || User.admin?(current_user)) && !prize.accept && !prize.hop.close == true
            -if  (prize.prize_type == 'place' || prize.prize_type == 'random' )&& prize.hop.hop_end
              %button.btn.btn-warning.btn-mini{onclick: 'prizes_modal.rundomeaRecord("' + admin_random_user_path({:prize_id=>prize.id}) + '", {hop_id: ' + @hop.id.to_s + '}); update_hoppers('+ @hop.id.to_s+');'}
                Randomly
            %button.btn.btn-danger.btn-mini{onclick: 'prizes_modal.rejectRecord("' + admin_prize_path(prize, {:prize => {:user_id => nil}}) + '", {hop_id: ' + @hop.id.to_s + '}); update_hoppers('+ @hop.id.to_s+');'}
              Reject
            -if prize.user
              =link_to ' Accept', admin_messages_email_tool_path({:id => [prize.user.id], :prize_id => prize.id}), :class=>"btn btn-success btn-mini" #{onclick: 'accept_hopper( ' + @hop.id.to_s + ','+prize.id.to_s+','+ prize.user.id.to_s+')'}

            %button.btn.btn-info.btn-mini{onclick: 'prizes_modal.editRecord({hop_id: ' + @hop.id.to_s + '}, "Edit prize", "' + edit_admin_prize_path(prize) + '")'}
              Edit
            %button.btn.btn-danger.btn-mini{onclick: 'prizes_modal.removeRecord("' + admin_prize_path(prize) + '", {hop_id: ' + @hop.id.to_s + '})'}
              Delete
