-if @users.blank?
  %h3.text-center
    No users
-else
  %br
  .row-fluid
    .span12
      %table
        %tr
          %td.span1
            %b User id
          %td.span1
            %b First name
          %td.span1
            %b Last name
          %td.span1
            %b User name
          %td.span1
            %b Email
          %td.span1
            %b ZIP
        - for i in @users
          %tr
            %td.span1
              =i.id
            %td.span1
              = i.first_name
            %td.span1
              = link_to i.last_name, user_path(:id => i.id)

            %td.span1
              =i.user_name
            %td.span1
              =i.email
            %td.span1
              =i.zip
  %br
  .row-fluid
    .span2

      =  link_to "Email to list", admin_messages_email_tool_path({:id=> @id_array}),:class=>"btn btn-success"
      %br
      %br
      = link_to "Messages to list", admin_messages_message_tool_path({:id=> @id_array}) , :class=>"btn btn-success "
    .span10.text-right
      = link_to("Export file to Excel", admin_hoppers_export_to_excel_path(:id => @id_array, :format => 'xls'),  :class=>" btn btn-success" )
      %br
      %br
      = link_to("Export file to PDF",  admin_hoppers_hopper_list_path(:id =>@id_array, :format => 'pdf'),:method => 'post',  :target => '_blank', :class=>"btn btn-success" )






