#hops_list
  .row-fluid
    .span7
      = will_paginate @hops, renderer: BootstrapPagination::Rails
    .span5.text-right.row
      = text_field_tag :input, params[:query], class: 'span7', id: 'search_field'
      = link_to 'Search', '', class: 'btn span4', id: 'search_hop'
  %table.table.table-condensed
    %tr
      %th
        Id
      %th
        Name
      %th
    - @hops.each do |hop|
      %tr
        %td
          = hop.id
        %td
          = hop.name

        %td{style: 'text-align: right'}
          %button.btn.btn-mini.btn-success{:onclick => "select('#{admin_hoppers_select_hop_path(:id =>hop.id)}')"}
            Select
  = will_paginate @hops, renderer: BootstrapPagination::Rails