
    <table class="pull-right"  >
      <tr>
        <td class ="span4">By user name</td>
        <td class ="span4">By user id</td>
      </tr>
      <tr>
        <td><%= text_field_tag(:name, nil, :class=>"input-mini", :id=>"findName", :onclick=>'')%></td>
        <td><%= text_field_tag(:id, nil, :class=>"input-mini", :id=>"findId") %></td>
      </tr>
      <tr>
        <td><%= submit_tag("Find hopper", :class=>"span9 pull-right" ) %></td>
      </tr>
    </table>


<fieldset >

  <table class="pull-right" >

    <tr>
      <td class ="span4">Hops played  </td>
      <td class ="span4">Hops won</td>

    </tr>
    <tr>
      <td ><%= text_area_tag(:text, nil, :rows=>"5") %></td>
      <td> <%= text_area_tag(:text, nil, :rows=>"5") %></td>
    </tr>

  </table>


<% if !@user.blank? %>

  <table>

      <tr>
        <td class ="span4">User name</td>
        <td class ="span4"><%= @user.first_name %></td>
        <td><img src="..." class="img-rounded"><% @user.avatar.url %></td>

      </tr>
      <tr>
        <td class ="span4">User id</td>
        <td class ="span4"><%= @user.id %></td>
      </tr>
      <tr>
        <td class ="span4">Password</td>
        <td class ="span4"><%= @user.password %></td>
      </tr>
      <tr>
        <td class ="span4">Name</td>
        <td class ="span4"><%= @user.user_name %></td>
      </tr>

      <tr>
        <td class ="span4">Zip</td>
        <td class ="span4"><%= @user.zip %></td>
      </tr>

      <tr>
        <td class ="span4">Email</td>
        <td class ="span4"><%= @user.email %></td>
      </tr>

      <tr>
        <td class ="span4">Phone</td>
        <td class ="span4"><%= @user.user_name %></td>
      </tr>
      <tr>
        <td class ="span4">Facebook id</td>
        <td class ="span4"><%= @user.user_name %></td>
      </tr>

      <tr>
        <td class ="span4">Twitter id</td>
        <td class ="span4"><%= @user.user_name %></td>
      </tr>
      <tr>
        <td class ="span4">Player since</td>
        <td class ="span4"></td>
      </tr>
    </table>


    <table>
      <tr>
        <td class="span9"><%= button_to "Send email to user", admin_messages_email_tool_path({:id=>@user.id}), :class=>"span9 pull-right  btn-success span10"  %></td>
      </tr>
      <tr>
        <td class="span9"><%= button_to "Send app massege to user", admin_messages_message_tool_path({:id=>@user.id}), :class=>"span9 pull-right  btn-success"  %></td>
      </tr>
      <tr>
        <td class="span9"><%= submit_tag("send text to user", :class=>"span9 pull-right  btn-success" ) %></td>
      </tr>
    </table>

  <% else %>
      <h3>Not Found</h3>

  <%end%>


</fieldset>

<%= button_to("Export file to PDF",nil, :class=>"span7 pull-right btn btn-success" ) %>

<%= button_to("Print user file",nil, :class=>"span7 pull-right btn btn-success" ) %>

<div class="modal hide fade in" id="myModalname" tabindex="-1" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" >
  </div>
  <div class="modal-body">
    <div id="myModalname" class="example cursor">

    </div>
  </div>
  <div class="modal-footer">

  </div>
</div>

<div class="modal hide fade in" id="myModalid" tabindex="-1" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" >
  </div>
  <div class="modal-body">
    <div id="myModalid" class="example cursor">

    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
