.row-fluid
  .span12
    -if params[:action] == 'new'
      -url = admin_asks_path
    -else
      -url = admin_ask_path({:id =>@ask})

    = form_for @ask, :url => url do |f|

      - if @ask.errors.any?
        #error_explanation
          %h2= "#{pluralize(@ask.errors.count, "error")} prohibited this ask from being saved:"
          %ul
            - @ask.errors.full_messages.each do |msg|
              %li= msg

      .field
        = f.label :ask
        .input-append
          = f.text_field :ask, :id =>"appendedInputButton"
          %button.btn{:type => "button"} Take answer
      .answer
        .field
          = f.label :answer
          = f.text_area :answer, :rows =>'4'
        .actions
          = f.submit (params[:action] == 'new')? 'Create':'Update',  :class =>'btn btn-info'
          = link_to 'Destroy', admin_ask_path(@ask), :method => :delete, :data => { :confirm => 'Are you sure?' },
                                                    :class =>'btn btn-danger' unless params[:action] == 'new'

