- @messages.each do |message|

  -#= message.outcoming_messages.first.sender_id
  .well{style: 'cursor: pointer; position: relative', onclick: "window.location = '#{messages_friend_messages_path(friend_id: message.id)}'"}
    .row-fluid
      .span1
        - user = User.new(id: message.id, avatar_file_name: message.avatar_file_name)
        %a.thumbnail
          = image_tag user.avatar.url, style: 'width: 70px'
      .span10
        = message.first_name
        = ' '
        = message.last_name
        .span{style: 'color: gray'}
          -if !message.incoming_messages.blank? &&  !message.incoming_messages.where(sender_id: message.id).blank?


            = time_ago_in_words(message.incoming_messages.where(sender_id: message.id).last.created_at) + ' ago'
        %br
        %h4
          -if !message.incoming_messages.blank? &&  !message.incoming_messages.where(sender_id: message.id).blank?
            =message.incoming_messages.where(sender_id: message.id).last.text


      .span1
    %div{style: 'position: absolute; right: 30px; top: 42%'}
      %i.icon-chevron-right{style: 'font-size: 45px; color: darkgreen '}
