:javascript
  function synchronize_messages(friend_id, friend_first_name, friend_last_name){
      $.ajax({
          url: '/messages/synchronize',
          data: {last_sync_date: $('#last_sync_date').val(),
                 friend_id: friend_id,
                 friend_first_name: friend_first_name,
                 friend_last_name: friend_last_name
                 },
          type: 'POST',
          error: function(err){
          },
          success: function(data){
              $('#last_sync_date').remove();
              $('#messages').append(data);
              var height = $("#messages")[0].scrollHeight;
              $("#messages").animate({ scrollTop: height }, 1000);
          }
      });
  }
  $(document).ready(function(){
      setInterval("synchronize_messages('#{@friend.id}', '#{@friend.first_name}', '#{@friend.last_name}')", 5000);
  });
.row-fluid
  .span1
    = image_tag @friend.avatar.url, style: 'width: 70px', class: 'img-polaroid'
  .span11
    %h4{style: 'color: darkgreen'}
      = link_to full_user_name(@friend), user_path(@friend)
#messages{style: 'height: 400px; overflow: auto '}
  = render partial: 'messages'
%hr
  .row
    .span8
      %textarea#new_message.triangle-border.right{style: 'border-color: yellow; width: 100%'}
    .span4.text-right
      %button.btn.btn-large.btn-success{style: 'margin-top: 15px;', onclick: "send_message(" + @friend.id.to_s + "); $('#new_message').val();"}
        Send
