:css
  body {
      padding: 0%;
      /*display: none;*/

  }
  .span12.text-center{
      margin: 0;
  }



=form_tag   messages_find_friend_path, remote: true, :class => 'form-inline find-form'  do

  .input-append
    = text_field_tag :user,'',  id: 'appendedInputButton', :placeholder=> 'put user name', style: 'size: 16; width: 70%'
    %button.btn.btn-success Find

#search_user

- @messages.each do |message|


  .well{class: "#{message.id.to_s}", style: 'cursor: pointer; position: relative', onclick: "window.location = '#{messages_friend_messages_path(friend_id: message.id)}'"}
    .row-fluid
      .span1
        - user = User.new(id: message.id, avatar_file_name: message.avatar_file_name)
        %a.thumbnail
          = image_tag user.avatar.url, style: 'width: 70px'
      .span10
        = message.first_name
        = ' '
        = message.last_name
        .span{style: 'color: gray'}
          -if !message.incoming_messages.blank? &&  !message.incoming_messages.where(sender_id: message.id).blank?


            = time_ago_in_words(message.incoming_messages.where(sender_id: message.id).last.created_at) + ' ago'
        %br
        %h4
          -if !message.incoming_messages.blank? &&  !message.incoming_messages.where(sender_id: message.id).blank?
            =message.incoming_messages.where(sender_id: message.id).last.text


      .span1
    %div{style: 'position: absolute; right: 30px; top: 42%'}
      %i.icon-chevron-right{style: 'font-size: 45px; color: darkgreen '}
