.span6
  %h1 Messages

  %table{:id=>"show"}
    %tr
      %th
        User name
      %th
        Text
      - @messages.each do |message|
        %tr
          %td= message[0]
          %td= message[1]

.span6
  %h1 My messages

  %table{:id=>"show"}
    %tr
      %th User name
      %th Text
    - @mymessages.each do |message|
      %tr
        %td= message[0]
        %td= message[1]
%br
%br
%h1
  Create message
-if flash[:error]
  %div#error_explanation
    %ul
      %li.field_with_error
        = flash[:error]
= form_tag messages_create_message_path  do
  = text_field(:message, :receiver_name, :placeholder=>"receiver")
  = text_field(:message, :text, :placeholder=>"message text")
  = submit_tag 'create message'

