<%= form_for([:admin, @hop_ad]) do |f| %>
<% if @hop_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_ad.errors.count, "error") %> prohibited this hop_task from being saved:</h2>

      <ul>
        <% @hop_ad.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="field">
  <%= f.label :ad_name %><br />
  <%= f.text_field :ad_name %>
</div>
<div class="field">
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</div>
<div class="field">
   <%= f.label :email %><br />
   <%= f.text_field :email%>
</div>

<div class="field">
  <%= f.label :hop_ad_picture %><br />
  <%= f.file_field :hop_ad_picture %>
</div>
    <% if @hop_ad.hop_id %>

       <div class="field">
           <%= radio_button_tag :ad_type, "sp"%>
           <%= label_tag :ad_type,  "SP" %>
           <%= radio_button_tag :ad_type, "rofl" %>
           <%= label_tag :ad_type,  "ROFL" %>
           <%= radio_button_tag :ad_type, "ropu"%>
           <%= label_tag :ad_type, "ROPU" %>
       </div>

   <% else %>

       <div class="field">
          <%= radio_button_tag :ad_type, "log_in"%>
          <%= label_tag :ad_type,  "log_in" %>
          <%= radio_button_tag :ad_type, "hop_list" %>
          <%= label_tag :ad_type,  "hop_list" %>
          <%= radio_button_tag :ad_type, "galery"%>
          <%= label_tag :ad_type, "galery" %>
          <%= radio_button_tag :ad_type, "message"%>
          <%= label_tag :ad_type, "message" %>
        </div>



   <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

 <% end %>
