



    <div class="field">
      <b> Name </b>
      <%=@hop_ad.ad_name %>
    </div>
    <div class="field">
      <b> Price </b>
      <%= @hop_ad.price %>
    </div>
    <div class="field">
      <b> Phone </b>
      <%= @hop_ad.phone %>
    </div>

    <div class="field">
      <b> Email </b>
      <%= @hop_ad.email %>
    </div>

    <div class="field">
      <b> Type </b>
      <%= @hop_ad.ad_type %>
    </div>






<%= image_tag @hop_ad.hop_ad_picture.url%><br />


<%= link_to 'Edit', edit_admin_hop_ad_path(@hop_ad) %> |
 <% if @hop_ad.hop %>
  <%= link_to 'Back', admin_hop_path(@hop_ad.hop) %>
 <% else %>
  <%= link_to 'Back', admin_hop_ads_path %>
 <% end %>