

<%= form_for(:hop_ad) do |f| %>

    <div class="field">
      <%= f.label :ad_name %><br />
      <%= f.text_field :ad_name %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :ad_type %><br />
      <%= f.text_field :ad_type %>
    </div>




<% end %>

<%= image_tag @hop_ad.hop_ad_picture.url%><br />


<%= link_to 'Edit', edit_admin_hop_ad_path(@hop_ad) %> |
<%= link_to 'Back', admin_hop_path(@hop_ad.hop) %>