
<table id="show">


   <tr>
      <td><b> Name </b></td>
     <td><%=@hop_ad.ad_name %></td>
  </tr>
  <tr>
    <td><b> Price </b></td>
    <td><%= @hop_ad.price %></td>
  </tr>
  <tr>
    <td><b> Phone </b> </td>
    <td><%= @hop_ad.phone %></td>
  </tr>
  <tr>
    <td><b> Email </b></td>
    <td><%= @hop_ad.email %> </td>
  </tr>
  <tr>
    <td><b> Ad link </b></td>
    <td><%= @hop_ad.link_to_ad %></td>
  </tr>
  <tr>
    <td><b> Type </b></td>
    <td><%= @hop_ad.ad_type %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= image_tag @hop_ad.hop_ad_picture.url%></td>
  </tr>
  </table>

 <br />





<%= link_to 'Edit', edit_admin_hop_ad_path(@hop_ad) %> |
 <% if @hop_ad.hop %>
  <%= link_to 'Back', admin_hop_path(@hop_ad.hop) %>
 <% else %>
  <%= link_to 'Back', admin_hop_ads_path %>
 <% end %>