<h1>Listing ads</h1>

<table>
  <tr>
    <th>Advert</th>
    <th>Advertiser name</th>
    <th>Hop</th>
    <th>Contact</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Type</th>
    <th>Price</th>
    <th>Amd paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.advert_id %></td>
    <td><%= ad.advertiser_name %></td>
    <td><%= ad.hop_id %></td>
    <td><%= ad.contact %></td>
    <td><%= ad.phone %></td>
    <td><%= ad.email %></td>
    <td><%= ad.type_add %></td>
    <td><%= ad.price %></td>
    <td><%= ad.amd_paid %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
