- if @hop_task.errors.any?
  - @hop_task.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= form_for([:admin, @hop_task]) do |f|
  = f.hidden_field :hop_id
  %table.hops-form
    %tr
      %td
        %b
          Text:
      %td
        = f.text_area :text, :rows=>3, class: 'span12', :required=> 'required'
    - unless @hop_task.hop.daily
      %tr
        %td
          %b
            Price:
        %td
          = f.text_field :price, class: 'span12'
      %tr
        %td
          %b
            AMT:
        %td
          = f.text_field :amt_paid, class: 'span12'
    %tr
      %td
        %b
          PTS:
      %td
        = f.text_field :pts, class: 'span12'
    %tr
      %td
        %b
          Sponsor:
      %td
        = f.select :sponsor_id,  options_for_select( User.all.map {|user| [user.email, user.id]},current_user.id), class: 'span12'
    %tr
      %td
        %b
          Link:
      %td
        = f.url_field :link, class: 'span12'
    %tr
      %td
        %b
          Bonus point
          %br
          for sharing:
      %td
        = f.text_field :bonus, class: 'span12'
    %tr
      %td
        %b
          Picture
      %td
        .fileupload.fileupload-new{'data-provides' => 'fileupload'}
          .fileupload-preview.fileupload-exists.thumbnail{style: 'max-width: 200px; max-height: 150px; line-height: 20px;'}
            = image_tag @hop_task.logo.url, style: 'max-width: 200px; max-height: 150px;'
          %div
            = f.file_field :logo
            %a{href: "#", class: "btn fileupload-exists", 'data-dismiss' => 'fileupload'}
              Remove
    %tr
      %td{colspan: 2}
        = button_to 'Submit', '#', class: 'btn btn-info', onclick: 'tasks_modal.submitForm({hop_id: ' + @hop_task.hop.id.to_s + '}); return false;'