<%= form_for([:admin, @hop_task]) do |f| %>
  <% if @hop_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_task.errors.count, "error") %> prohibited this hop_task from being saved:</h2>

      <ul>
      <% @hop_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table id="show">
       <tr>
         <td>Text for task</td>
         <td><%= f.text_area :text_for_hop, :rows=>5 %></td>
      </tr>
      <% if ! @hop_task.hop.daily_hop %>
        <tr>
          <td>Price</td>
          <td><%= f.text_field :hop_task_price %></td>
        </tr>
        <tr>
          <td>AMT</td>
          <td><%= f.text_field :amt %></td>
        </tr>

        <tr>
          <td>Photo</td>
          <td><%= f.file_field :hop_picture %></td>
        </tr>
      <% end %>

      <tr>
         <td>PTS</td>
         <td><%= f.text_field :pts %></td>
      </tr>
      <tr>
         <td>Bonus point for sharing</td>
         <td><%= f.text_field :bonus %></td>
      </tr>



      <tr>
        <td></td>
        <td><%= f.submit %></td>
      </tr>

    </table>
<% end %>
