%table.table.table-condensed
  %tr
    %th
      Text
    %th
      Sponsor
    %th
      Price
    %th
      AMT
    %th
      PTS
    %th
      Bonus point for sharing
    %th
  - @tasks.each do |task|
    %tr
      %td
        = task.text
      %td
        - if task.sponsor
          = task.sponsor.first_name
          = task.sponsor.last_name
      %td
        = task.price
      %td
        = task.amt_paid
      %td
        = task.pts
      %td
        = task.bonus
      %td{style: 'text-align: right'}
        %button.btn.btn-info.btn-mini{onclick: 'loadForm(' + @hop.id.to_s + ', "' + edit_admin_hop_task_path(task) + '", "task-modal")'}
          Edit
        %button.btn.btn-danger.btn-mini{onclick: 'removeRecord("' + admin_hop_task_path(task) + '", "' + admin_hop_tasks_path + '", "tasksTable", ' + @hop.id.to_s + ')'}
          Delete