- if @tasks.blank?
  List has no rows
- else
  %table.table.table-condensed
    %tr
      %th
        Text
      %th
        Sponsor
      %th
        link
      %th
        Price
      %th
        AMT
      %th
        PTS
      %th
        Bonus point for sharing
      %th
    - @tasks.each do |task|
      %tr
        %td
          = task.text
        %td
          - if task.sponsor
            = task.sponsor.first_name
            = task.sponsor.last_name
        %td
          = task.link
        %td
          = task.price
        %td
          = task.amt_paid
        %td
          = task.pts
        %td
          = task.bonus
        %td{style: 'text-align: right'}
          -if (User.producer?(current_user) || User.admin?(current_user)|| User.sponsor?(current_user))&& User.can_edit?(current_user,task.creator_id) && !task.hop.close == true
            %button.btn.btn-info.btn-mini{onclick: 'tasks_modal.editRecord({hop_id: ' + @hop.id.to_s + '}, "Edit hop task", "' + edit_admin_hop_task_path(task) + '")'}
              Edit
            %button.btn.btn-danger.btn-mini{onclick: 'tasks_modal.removeRecord("' + admin_hop_task_path(task) + '", {hop_id: ' + @hop.id.to_s + '})'}
              Delete