
<%= form_for(:hop_task) do |f| %>
  <table id="show">
    <tr>
      <td>Text for hop</td>
      <td><%= f.text_area :text_for_hop, :rows=>5 %></td>
    </tr>
    <tr>
      <td>Sponsor id </td>
      <td><%= f.number_field :sponsor_id %> </td>
    </tr>
    <tr>
      <td>Price</td>
      <td><%= f.text_field :hop_task_price %></td>
    </tr>

    <tr>
      <td>Sponsor name</td>
      <td><%= f.text_field :sponsor_name %></td>
    </tr>


    <tr>
      <td>Photo</td>
      <td><%= image_tag @hop_task.hop_picture.url%></td>
    </tr>

  </table>
     <br />

<% end %>





<%= link_to 'Edit', edit_admin_hop_task_path(@hop_task) %> |
<%= link_to 'Back', admin_hop_path(@hop_task.hop) %>
