

  <table id="show">
    <tr>
      <td>Text for hop</td>
      <td><%= @hop_task.text_for_hop %></td>
    </tr>
    <tr>
      <td>Sponsor id </td>
      <td><%= @hop_task.sponsor_id %> </td>
    </tr>
    <tr>
      <td>Price</td>
      <td><%= @hop_task.hop_task_price %></td>
    </tr>

    <tr>
      <td>Sponsor name</td>
      <td><%= @hop_task.sponsor_name %></td>
    </tr>
    <tr>
      <td>AMT</td>
      <td><%= @hop_task.amt %></td>
    </tr>

    <% if @hop_task.hop.daily %>
        <tr>
          <td>PTS</td>
          <td><%= @hop_task.pts %></td>
        </tr>
        <tr>
          <td>Bonus for sharing</td>
          <td><%= @hop_task.bonus %></td>
        </tr>
    <% end %>


    <tr>
      <td>Photo</td>
      <td><%= image_tag @hop_task.hop_picture.url%></td>
    </tr>

  </table>
     <br />







<%= link_to 'Edit', edit_admin_hop_task_path(@hop_task) %> |
<%= link_to 'Back', admin_hop_path(@hop_task.hop) %>
