:css
  body{
    padding: 0%;
    /*display: none;*/
  }



#sign-up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    %br
    .row-fluid.sign-up-frame
      .span8.offset2{style: 'border: 1px solid green'}
        .row-fluid
          .span12
            %h2
              Sign Up
        .row-fluid
          .span6
            = f.label :email, :class=> 'email'
            = f.email_field :email, :autofocus => true
          .span6
        .row-fluid
          .span6
            = f.label :first_name
            = f.text_field :first_name, class: 'col-input'
          .span6
            = f.label :last_name
            = f.text_field :last_name, class: 'col-input'
        .row-fluid
          .span6
            = f.label :user_name
            = f.text_field :user_name, class: 'col-input'
          .span6
            = f.label :zip
            = f.text_field :zip, class: 'col-input'
        .row-fluid
          .span6
            = f.label :password
            = f.password_field :password, class: 'col-input'
          .span6
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: 'col-input'
        .row-fluid
          .fileupload.fileupload-new.span12.text-center{'data-provides' => 'fileupload'}
            = f.label :avatar
            .fileupload-preview.fileupload-exists.thumbnail.span6.text-center{}
              = image_tag resource.avatar.url, :id => 'img-upload'
            %br
            %br
            %div.span6.input-container
              %input#lefile{:style => "display:none", :type => "file"}
                .input-append
                  %input#photoCover.input-large{:type => "text", :style => "margin: 0px;"}
                    %a.btn{:onclick => "$('input[id=lefile]').click();"}
                      Browse
                  .input-append
                    %a{href: "#", class: "btn fileupload-exists", 'data-dismiss' => 'fileupload'}
                      Remove


        %br

        .row-fluid
          .span12.text-center
            = f.submit "Sign up", :class=> 'btn btn-success'
            %br
            = render "devise/shared/links"
