= image_tag attachments['logo_1.jpg'].url
%h3{style: 'color: green;'}
  ATTENTION CASHHOPPERS:
%h2
  = @message.subject
%br

= @message.text
%b
%p
  Thank you for being a CASHHOPPER and keep hoppin'!
= image_tag attachments['logo_2.jpg'].url , :style => 'align: right;'
%p
  The HOPMASTER
  %br
  HOPMASTER@CASHHOPPERS.com
%p
  = link_to "PLEASE 'LIKE' US ON  FACEBOOK!", '#' # :href => 'https://www.facebook.com/CashHoppers?ref=hl'
  %br
  = link_to "CLICK HERE!",  '#'#:href => 'https://www.facebook.com/CashHoppers?ref=hl'


