= image_tag attachments['logo_1.jpg'].url
%h3{style: 'color: green;'}
  CONGRATULATIONS!
%p
  Your cashhopper skills have paid off-you have won
.text-center{style: 'text-align: center'}
  %br
  In the Hop:
  %b
    =@hop
%br
.text-center{style: 'text-align: center'}
  Your place:
  %br
    %b
      =@place
%br
%br
Please respond to
%span{style: 'color: green'}
  HOPMASTER@CASHHOPPERS.com
and let us know how you would like to receive your prize -
%br
%br
%span{style: 'color: green'}
  By PayPal
\- give us your PayPal email address
%br
%span{style: 'color: green'}
  By check
\- give us your mailing address

%br
%br

= @message.text
%b
%p
  %b
    Thank you for being a CASHHOPPER and keep hoppin'!
.div
  = image_tag attachments['logo_2.jpg'].url , :style => 'align: right;'
.span4{style: 'text-align: left'}

  The HOPMASTER
  %br
  %br
  HOPMASTER@CASHHOPPERS.com
%p
  = link_to "PLEASE 'LIKE' US ON  FACEBOOK!", '#' # :href => 'https://www.facebook.com/CashHoppers?ref=hl'
  %br
  = link_to "CLICK HERE!",  '#'#:href => 'https://www.facebook.com/CashHoppers?ref=hl'