= image_tag attachments['logo_1.jpg'].url
%h3{style: 'color: green;'}
   GET HOPPIN!
%p
   Grab your mobile phone and GET HOPPIN in the newest
   HOP:
%br
%br
- if @hop_name
   = @hop_name
-else
   = @hop.name
   %br
   hop start:
   = @hop.time_start
   hop end:
   = @hop.time_end
   %br
   Hop prizes
   %br
   - for i in @hop.prizes
      %br
      place:
      = i.place
      = '  '
      cost:
      -if i.cost.to_s.match(/[a-zA-Z]/).nil?
         = number_to_currency(i.cost )
      -else
         = i.cost

%br
%br
Hop description:
%br
%br

= @message.text
%br
%p
   %b
      Thank you for being a CASHHOPPER and keep hoppin
.row-fluid
   .span3
      = image_tag attachments['logo_2.jpg'].url , :style => 'align: right;'
   .span4
      The HOPMASTER
      %br
      HOPMASTER@CASHHOPPERS.com
%p
   = link_to "PLEASE 'LIKE' US ON  FACEBOOK!",  :href => 'https://www.facebook.com/CashHoppers?ref=hl'
   %br
   = link_to "CLICK HERE!", :href => 'https://www.facebook.com/CashHoppers?ref=hl'