<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  From <%= @href %>.<br/>
</p>
<h1>Hello <%= @user %></h1>
<p>
 <% if attachments['file'] %>
    <%= image_tag attachments['file'].url %>.<br/>
  <% end %>
</p>
<p>
  <%= @text %>.<br/>
</p>
<p>
  Go to our site right now, just follow this link: <%= @url %>.
</p>

</body>
</html>