<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello <%= @user %></h1>
<p>
 <%= image_tag attachments['noavatar.jpeg'].url %>.<br/>
</p>
<p>
  <%= @text %>.<br/>
</p>
<p>
  <%= @href %>.<br/>
</p>
<p>
  <%= @file %>.<br/>
</p>
<p>
  Go to our site right now, just follow this link: <%= @url %>.
</p>

</body>
</html>