<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @hop.name %>
</p>

<p>
  <b>Time start:</b>
  <%= @hop.time_start %>
</p>

<p>
  <b>Time end:</b>
  <%= @hop.time_end %>
</p>

<p>
  <b>Producer:</b>
  <%= @hop.producer_id %>
</p>

<p>
  <b>Producer contact:</b>
  <%= @hop.producer_contact %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @hop.contact_phone %>
</p>

<p>
  <b>Contact email:</b>
  <%= @hop.contact_email %>
</p>

<p>
  <b>Hop code:</b>
  <%= @hop.hop_code %>
</p>

<p>
  <b>Hop price:</b>
  <%= @hop.hop_price %>
</p>

<p>
  <b>Jackpot:</b>
  <%= @hop.jackpot %>
</p>

<p>
  <b>Hop items:</b>
  <%= @hop.hop_items %>
</p>


<%= link_to 'Edit', edit_hop_path(@hop) %> |
<%= link_to 'Back', hops_path %>
