:css
  body {
      padding: 0%;
      /*display: none;*/

  }
  .span12.text-center{
      margin: 0;
  }
  fieldset.btn.profile{
    width: 82.9%;
  }
    fieldset.btn.profile{
     border-top: none;
      width: 80.1%;
    }
    .nav.nav-tabs.hoppers>li{

      margin-bottom: -4px;
    }

  @media(min-width:100px)and(max-width: 790px){

      fieldset.btn{
          /*display: none;*/
          border: none;
          padding: 0%;
          text-align: center;


          font-size: 100%;

      }
      .span6.text-center.small-screen{
        display: block;
        width: auto;

      }
      .span6.text-center.large-screen{
        display: none;


      }
      .span6.text-center{
        margin: 0px;
      }
       table tr td,table tr th{
         font-size: 80%;
       }
      table tr td div{
         width: 50px;
      }
       fieldset.btn.profile{
          width: 100%;
        }

  }

.span12.text-center
  %fieldset.btn.profile

    %h3
      = pluralize(current_user.friends.count, "friend")
    %table.table.table-condensed
      %tr
        %th
          First Name
        %th
          Last Name
        %th
        - @friends.each do |friend|
          %tr
            %td
              = link_to friend.first_name, user_path(friend)
            %td
              = friend.last_name
            %td.delete-button
              = link_to "Delete", friends_delete_friend_path(id: friend.id), confirm: "Really delete friendship with #{friend.first_name}?", method: :post, class: 'btn btn-mini btn-danger'
    %h3
      = pluralize(current_user.requested_friends.count, "requested friend")
    %table.table.table-condensed
      %tr
        %th
          First Name
        %th
          Last Name
        %th
        - @requested_friends.each do |requester|
          %tr
            %td
              = requester.first_name
            %td
              = requester.last_name
            %td.button.delete-button
              = link_to "Accept", friends_accept_request_path(id: requester.id), method: :post, class: 'btn btn-mini btn-success'
              = link_to "Decline", friends_decline_request_path(id: requester.id), confirm: "Really decline friendship with #{requester.first_name}?", method: :post, class: 'btn btn-mini btn-danger'
    %h3
      = pluralize(current_user.pending_friends.count, "pending friend")
    %table.table.table-condensed
      %tr
        %th
          First Name
        %th
          Last Name
        %th
        - @pending_friends.each do |friend|
          %tr
            %td
              = friend.first_name
            %td
              = friend.last_name
            %td.delete-button
              = link_to "Cancel",
                    friends_cancel_request_path(id: friend.id),
                    confirm: "Cancel friendship request?",
                    method: :post,
                    class: 'btn btn-mini btn-danger'



