= form_tag(controller: "services", action: "create", :method => "post") do
  .control-group
    .control-label
      Service:
      = @service
      = hidden_field_tag :service, @service, class: 'span12'
  .control-group
    .control-label
      Name:
      = @name
      = hidden_field_tag :name, @name, class: 'span12'
  .control-group
    .control-label
      UID:
      = @uid
      = hidden_field_tag :uid, @uid, class: 'span12'
  .control-group
    .control-label
      Provider:
      = @provider
      = hidden_field_tag :provider, @provider, class: 'span12'
  .control-group
    - if @service == 'twitter'
      .control-label
        = label_tag :email, 'Put your email:'
      .controls
        = email_field_tag :email, '', class: 'span12'
    - else
      .control-label
        E-mail:
        = @email
        = hidden_field_tag :email, @email, class: 'span12'
  .control-group
    .control-label
      = label_tag :zip, 'Put your zip:'
    .controls
      = text_field_tag :zip, '', class: 'span12'
  .control-group
    .controls
      = submit_tag 'Sign up'