.navbar
  .navbar-inner
    %ul.nav
      %li.divider-vertical
        = link_to 'hops', admin_hops_path
      %li.divider-vertical
        = link_to 'daily hops', admin_hops_path(:daily_hop =>1)
      %li.divider-vertical
        = link_to 'current hops', admin_search_current_hops_path
      %li.divider-vertical
        = link_to 'hops archive', admin_hops_path
= yield