%ul.nav.nav-tabs.nav-stacked.non-print
  %li
    = link_to 'Applications', admin_applications_path if can? :manage, :all
  %li
    = link_to 'Messages',  admin_messages_email_tool_path if can? :manage, :all
  %li
    = link_to 'Hoppers',  admin_hoppers_find_hopper_path if can? :manage, :all
  %li
    = link_to 'Hops', admin_regular_hops_path
  %li
    = link_to 'Ads', admin_ads_path
  %li
    = link_to 'Manege Users', admin_users_index_path if can? :manage, :all

