.navbar
  .navbar-inner
    %ul.nav
      %li.divider-vertical
        = link_to 'HOPS', admin_hops_path
      %li.divider-vertical
        = link_to 'DAILY HOPS', admin_hops_path(:daily_hop =>"11111")
      %li.divider-vertical
        = link_to 'CURRENT HOPS', admin_hops_path
      %li.divider-vertical
        = link_to 'HOPS ARCHIVE', admin_hops_path

= yield