.row-fluid
  .span3
    Hop task text
  .span3
    Hop task logo
  .span4.text-center
    Photo
- if @photos
  -for i in @photos
    .row-fluid
      .span3
        = HopTask.find_by_id(i.hop_task_id).text
      .span3
        = image_tag HopTask.find_by_id(i.hop_task_id).logo, :size => "260x200"
      .span4
        = image_tag i.photo, :size => "260x200"
      .span3
        = button_to 'delete', admin_delete_photo_path({:id=>i.id, photos:  @photos_id, hop: @hop}) , :remote=> true , :class=>'btn btn-danger'

= link_to "Back", admin_hop_path(@hop), :size => "260x200"