- if @hop.errors.any?
  - @hop.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= form_for([:admin, @hop ]) do |f|
  = f.hidden_field :daily
  %table.hops-form
    %tr
      %td
        %b
          Name:
      %td
        = f.text_field :name, html: { placeholder: 'Name' }
    %tr
      %td
        %b
          Time start:
      %td
        #datetimepicker1.input-append.date
          = f.text_field :time_start, 'data-format' => 'dd/MM/yyyy hh:mm:ss', 'type' => 'text'
          %span.add-on
            %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
            :javascript
              $(function(){
                  $('#datetimepicker1').datetimepicker({
                      language: 'pt-BR'
                  });
              });
    - unless @hop.daily
      %tr
        %td
          %b
            Time end:
        %td
          #datetimepicker2.input-append.date
            = f.text_field :time_end, 'data-format' => 'dd/MM/yyyy hh:mm:ss', 'type' => 'text'
            %span.add-on
              %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
              :javascript
                $(function(){
                    $('#datetimepicker2').datetimepicker({
                        language: 'pt-BR'
                    });
                });
      %tr
        %td
          %b
            Code:
        %td
          = f.text_field :code
      %tr
        %td
          %b
            Price:
        %td
          = f.text_field :price
      %tr
        %td
          %b
            Special event:
        %td
          = f.text_field :event
      %tr
        %td
          %b
            Jackpot:
        %td
          = f.text_field :jackpot
    %tr
      %td{ colspan: 2}
        = f.submit 'Submit', class: 'btn btn-info'
