<h3>Current hops </h3>

<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Time start</td>
    <td>Time end</td>
    <td>Registered count </td>
    <td>Items count</td>
    <td>Ads count</td>
  </tr>
 <%for hop in @hops do %>
  <tr>
    <td><%= hop.id %></td>
    <td><%= hop.name %></td>
    <td><%= hop.time_start %></td>
    <td><%= hop.time_end %></td>
    <td><%= hop.hoppers.count %></td>
    <td><%= hop.hop_tasks.count %></td>
    <td><%= hop.ads.count %></td>
  </tr>
 <% end %>
</table>

