.row-fluid
  .text-right
    .alert-error
      = flash[:bad_file] if flash[:bad_file]
    =form_tag({:controller => 'hops', :action => 'import_excel'}, :multipart=>true, :method => 'post') do
      Select an Excel File :
      = file_field_tag 'excel'
      = submit_tag 'load', class: 'btn btn-primary btn-success'
%h2
  .row-fluid
    .text-left.span8
      New regular hop
    .text-right.span4
      = link_to 'Back', admin_regular_hops_path, class: 'btn btn-info'
= render 'form'
= flash.inspect

