<h3>Hop</h3>

<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Code</td>
    <td>Price</td>
    <td>Time start</td>
    <td>Time end</td>
    <td>Showprod_id</td>
    <td>Showprod contact</td>
    <td>Contact Phone</td>
    <td>Contact email</td>
  </tr>
  <tr>
    <td><%= @hop.id %></td>
    <td><%= @hop.name %></td>
    <td><%= @hop.code %></td>
    <td><%= @hop.price %></td>
    <td><%= @hop.time_start %></td>
    <td><%= @hop.time_end %></td>
    <td><%= @producer.id %></td>
    <td><%= @producer.contact %></td>
    <td><%= @producer.phone %></td>
    <td><%= @producer.email %></td>
 </tr>
</table>
<h3>Hop items</h3>

<table>
  <tr>
    <td>Id</td>
    <td>Hop item description</td>
    <td>Sponsor</td>
    <td>Sponsor id</td>
    <td>PTS</td>
    <td>Bonus</td>
    <td>Price</td>
    <td>Amt paid</td>
  </tr>
  <% for i in @hop.hop_tasks %>
      <tr>
        <td><%= i.id %></td>
        <td><%= i.text %></td>
        <td><%= "#{User.find_by_id(i.sponsor_id).first_name.to_s}" +' '+ "#{User.find_by_id(i.sponsor_id).last_name}" %></td>
        <td><%= i.sponsor_id %></td>
        <td><%= i.pts %></td>
        <td><%= i.bonus %></td>
        <td><%= i.price %></td>
        <td><%= i.amt %></td>
      </tr>
  <% end %>

</table>

<h3>Hop ad</h3>

<table>
  <tr>
    <td>Position</td>
    <td>Advertizer</td>
    <td>Ad file</td>
    <td>Price</td>
    <td>Amt paid</td>
  </tr>

  <% for i in @hop.ads %>
      <tr>
        <td><%= i.ad_type %></td>
        <td><%= "#{User.find_by_id(i.sponsor_id).first_name.to_s}" +' '+ "#{User.find_by_id(i.sponsor_id).last_name}" %></td>
        <td><%= i.hop_ad_picture_file_name %></td>
        <td><%= i.price %></td>
        <td><%= i.amt %></td>
      </tr>
  <% end %>


</table>