<p id="notice"><%= notice %></p>

<table id="show">

  <tr>
     <td><b>Name:</b></td>
    <td><b>Time start:</b></td>
    <td><b>Time end:</b></td>
    <td><b>Showprod id:</b></td>

  </tr>

  <tr>
    <td><%= @hop.name %></td>
    <td><%= @hop.time_start %></td>
    <td><%= @hop.time_end %></td>
    <td><%= @hop.producer_id %></td>
  </tr>


  <tr>
    <td><b>Showprod contact:</b></td>
    <td><b>Contact phone:</b></td>
    <td><b>Contact email:</b> </td>
    <td><b>Hop code:</b></td>

  </tr>

  <tr>

    <td><%= @hop.contact_phone %></td>
    <td><%= @hop.producer_contact %></td>
    <td><%= @hop.contact_email %></td>
    <td><%= @hop.hop_code %></td>
  </tr>



  <tr>
    <td><b>Hop price:</b></td>
    <td><b>Jackpot:</b></td>
    <td><b>Hop items:</b></td>
    <td><b>Special event:</b></td>

  </tr>

  <tr>
    <td><%= @hop.hop_price %></td>
    <td><%= @hop.jackpot %></td>
    <td><%= @hop.hop_items %></td>
    <td><%= @hop.event %></td>
  </tr>


</table>
<br />

<%= link_to 'Edit', edit_admin_hop_path(@hop) %> |
<%= link_to 'Back', admin_hops_path %>
<br />


<h2>Tasks</h2>
<br />
<% @hop.hop_tasks.each do |hop_task| %>
<table id="show">
  <tr>
    <td><strong>Sponsor name:</strong></td>
    <td><strong>price:</strong></td>
    <td><strong>text:</strong></td>
    <td></td>
    <td></td>
    <td></td>

  <tr>

  <tr>
    <td>

      <%= hop_task.sponsor_name %>
    </td>
    <td>

      <%= hop_task.hop_task_price %>
    </td>
    <td>

      <%= hop_task.text_for_hop %>
    </td>

    <td><%= link_to 'Show', admin_hop_task_path(hop_task.id)  %></td>
    <td><%= link_to 'Edit', edit_admin_hop_task_path(hop_task) %></td>
    <td><%= link_to 'Destroy',  [:admin, hop_task], :confirm => 'Are you sure?', :method => :delete %></td>

  </tr>
</table>
<% end %>

<br />

<%= form_tag admin_hop_tasks_path, :multipart => true do %>
   <table id="show">
     <tr>
       <td><%= label_tag :text_for_hop %></td>
       <td><%= text_area_tag :text_for_hop %> </td>
     </tr>

     <tr>
      <td><%= label_tag :hop_task_price %></td>
      <td><%= number_field_tag :hop_task_price %></td>
     </tr>

     <tr>
      <td><%= label_tag :sponsor_name %></td>
      <td><%= number_field_tag :sponsor_name %></td>
     </tr>

     <tr>
      <td><%= label_tag :hop_picture %></td>
      <td><%= file_field_tag :hop_picture %></td>
     </tr>


     <tr>
        <td> <%= hidden_field_tag :hop_id, @hop.id %></td>
        <td><%= submit_tag %> </td>
     </tr>

   </table>
<% end %>
<h2>Ad</h2>

<br />


<% @hop.hop_ads.each do |hop_ad| %>
    <table id="show">
      <tr>
        <td><strong>Advert Name:</strong></td>
        <td><strong> phone:</strong></td>
        <td><strong>email:</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      <tr>

      <tr>
        <td>

          <%= hop_ad.ad_name %>
        </td>
        <td>

          <%= hop_ad.phone %>
        </td>
        <td>

          <%= hop_ad.email %>
        </td>

        <td><%= link_to 'Show',  admin_hop_ad_path(hop_ad.id)%></td>
        <td><%= link_to 'Edit', edit_admin_hop_ad_path(hop_ad)  %></td>
        <td><%= link_to 'Destroy',  [:admin, hop_ad], :confirm => 'Are you sure?', :method => :delete  %></td>

      </tr>
    </table>

<% end %>
<br />
<br />


<%= form_tag admin_hop_ads_path(:hop_id=>@hop.id) , :multipart => true do %>
    <table id="show">
      <tr>
        <td><%= label_tag :ad_name %></td>
        <td><%= text_field(:hop_ad, :ad_name) %></td>
      </tr>

      <tr>
        <td><%= label_tag :contact %></td>
        <td><%= text_field(:hop_ad,:contact) %> </td>
      </tr>

      <tr>
        <td><%= label_tag :email%></td>
        <td><%= email_field(:hop_ad,:email) %></td>
      </tr>

      <tr>
        <td><%= label_tag :phone%></td>
        <td><%= text_field(:hop_ad,:phone) %> </td>
      </tr>

      <tr>
        <td><%= label_tag :link_to_ad %></td>
        <td><%= text_field(:hop_ad,:link_to_ad) %> </td>
      </tr>

      <tr>
        <td><%= label_tag :price%></td>
        <td><%= number_field(:hop_ad, :price) %></td>
      <tr>

      <tr>
        <td><%= label_tag :hop_ad_picture%></td>
        <td><%= file_field(:hop_ad, :hop_ad_picture) %></td>
      </tr>


    </table>
    <br />

    <div class="field" id="radio_button">

      <%= radio_button(:hop_ad,:ad_type, "sp")%>
      "SP"
      <%= radio_button(:hop_ad, :ad_type, "rofl") %>
        "ROFL"
      <%= radio_button(:hop_ad, :ad_type, "ropu")%>
       "ROPU"

    </div>

    <br />
    <br />


      <div class="actions">
        <%= submit_tag %>
      </div>


<% end %>
   <br />
<div class="actions">
  <td><%= button_to 'Close project', admin_close_path %></td>
</div>

