= render partial: 'layouts/modal_crud'
:javascript
  var tasks_modal;
  var ads_modal;
  var prizes_modal;
  var hoppers_modal;

  $(document).ready(function(){
    tasks_modal = new ModalCRUD({
      new_path: "#{new_admin_hop_task_path}",
      index_path: "#{admin_hop_tasks_path}",
      list_id: 'tasksTable'
    });
    hoppers_modal = new ModalCRUD({
      index_path: "#{admin_hop_tasks_path}",
      list_id: 'hoppersTable'
    });
    ads_modal = new ModalCRUD({
      new_path: "#{new_admin_ad_path}",
      index_path: "#{admin_ads_path}",
      list_id: 'adsTable'
    });
    prizes_modal = new ModalCRUD({
      new_path: "#{new_admin_prize_path}",
      index_path: "#{admin_prizes_path({:hop_id=> @hop.id})}",
      list_id: 'prizesTable'
    });
  });
- if @hop.hop_tasks.count == 0
  .alert.alert-error
    Hop must have at least one task!
- if @hop.prizes.count == 0
  .alert.alert-error
    Hop must have at least one prize place!
%h2
  .row-fluid
    .text-left.span8{style: 'max-width: 63%;word-wrap: break-word;'}
      Hop:
      = @hop.name
    .text-right.span4
      - if @hop.daily
        = link_to 'Back', admin_daily_hops_path, class: 'btn btn-info'
      - else
        = link_to 'Back', admin_regular_hops_path, class: 'btn btn-info'
      - if (User.producer?(current_user) || User.admin?(current_user)) && User.can_edit?(current_user,@hop.creator_id) && !(@hop.close == true)
        = link_to('Edit', admin_edit_regular_hop_path(@hop), class: 'btn btn-success')
        = link_to('Destroy', admin_hop_path(@hop), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' })

%br


.row-fluid
  .span6


    = image_tag @hop.logo.url, class: 'img-polaroid', style: 'max-width: 100%; max-height: 400px'
  .span6
    %table.hops-form
      %tr
        %td
          %b
            Name:
        %td
          .fix-long-div
            = @hop.name
      %tr
        %td
          %b
            Zip:
        %td
          = @hop.zip
      %tr
        %td
          %b
            Link:
        %td
          = @hop.link

      %tr
        %td
          %b
            Time start:
        %td

          = @hop.time_start.to_datetime.strftime(format='%Y-%m-%d %H:%M') + ' EST'



      - unless @hop.daily
        %tr
          %td
            %b
              Time end:
          %td
            = @hop.time_end.to_datetime.strftime(format='%Y-%m-%d %H:%M') + ' EST'
        %tr
          %td
            %b
              Producer:
          %td
            - if @hop.producer
              .fix-long-div
                = @hop.producer.first_name
                = @hop.producer.last_name
        %tr
          %td
            %b
              Producer contact:
          %td
            - if @hop.producer
              = @hop.producer.contact
        %tr
          %td
            %b
              Producer Phone:
          %td
            - if @hop.producer
              = @hop.producer.phone
        %tr
          %td
            %b
              Producer Email:
          %td
            - if @hop.producer
              .fix-long-div
                = @hop.producer.email
        %tr
          %td
            %b
              Code:
          %td
            = @hop.code
        %tr
          %td
            %b
              Price:
          %td
            = @hop.price
        %tr
          %td
            %b
              Jackpot:
          %td
            -if @hop.jackpot.to_s.match(/[a-zA-Z]/).nil? && !@hop.jackpot.blank?
              = number_to_currency(@hop.jackpot )
            -else
              =@hop.jackpot
        %tr
          %td
            %b
              Special event:
          %td
            = @hop.event
%hr

.row-fluid
  .span6
    %h4
      Prizes:
  .span6.text-right
    - if User.producer?(current_user) || User.admin?(current_user) && !(@hop.close == true)
      %button.btn.btn-success{onclick: 'prizes_modal.newRecord({hop_id: ' + @hop.id.to_s + '}, "Create prize");'}
        New Prize
.accept_user
#prizesTable
  = render partial: 'admin/prizes/list'

%hr
.row-fluid
  .span6
    %h4
      Tasks:
  .span6.text-right
    - if (User.producer?(current_user) || User.admin?(current_user) || User.sponsor?(current_user)) && !(@hop.close == true)
      %button.btn.btn-success{onclick: 'tasks_modal.newRecord({hop_id: ' + @hop.id.to_s + '}, "Create hop task");'}
        New Hop Task
#tasksTable
  = render partial: 'admin/hop_tasks/tasks'

%hr
.row-fluid
  .span6
    %h4
      Ads:
  .span6.text-right
    - if !(@hop.close == true)

      %button.btn.btn-success{onclick: 'ads_modal.newRecord({hop_id: ' + @hop.id.to_s + '}, "Create ad");'}
        New Ad
#adsTable
  = render partial: 'admin/ads/list'

%hr
-#=  @hop.creator_id
-#= current_user.id
-#= User.can_edit?(current_user, @hop.creator_id)
%h4
  Hoppers:
-#- user = User.find_by_id(12)
-#= UserHopTask.create(:hop_task_id => @hop.hop_tasks[0].id, :user_id => user.id, :photo =>user.avatar, :comment=>'comment'  )
-#=@hop.hoppers << user
- if @hoppers.blank?
  List has no rows
- else
  #hoppersTable
    = render partial: 'hopper_list'


%br
.row-fluid
  .span2.text-left
    = link_to 'Export to Pdf',  admin_print_hop_to_pdf_path(:id => @hop.id,  :format => 'pdf'),:method => 'post',:target=>"_blank", :class => 'btn btn-success'
    %br
    %br
      -if User.can_edit?(current_user,@hop.creator_id)&& !@hop.close == true
        = link_to('Close', admin_close_hop_path(@hop), method: :post, class: 'btn btn-danger', data: { confirm: 'Are you sure?' })
  .span10
    .text-right
      = link_to 'Export to Excel',  admin_print_hop_to_excel_path(:id => @hop.id, :format => 'xls' ),:method => 'post', :class => 'btn btn-success'

