= render partial: 'layouts/modal_crud'
:javascript
  var tasks_modal;
  var ads_modal;
  var prizes_modal;
  $(document).ready(function(){
    tasks_modal = new ModalCRUD({
      new_path: "#{new_admin_hop_task_path}",
      index_path: "#{admin_hop_tasks_path}",
      list_id: 'tasksTable'
    });
    ads_modal = new ModalCRUD({
      new_path: "#{new_admin_ad_path}",
      index_path: "#{admin_ads_path}",
      list_id: 'adsTable'
    });
    prizes_modal = new ModalCRUD({
      new_path: "#{new_admin_prize_path}",
      index_path: "#{admin_prizes_path}",
      list_id: 'prizesTable'
    });
  });
- if @hop.hop_tasks.count == 0
  .alert.alert-error
    Hop must have at least one task!
- if @hop.prizes.count == 0
  .alert.alert-error
    Hop must have at least one prize place!
%h2
  .row-fluid
    .text-left.span8
      Hop:
      = @hop.name
    .text-right.span4
      = link_to('Edit', admin_edit_regular_hop_path(@hop), class: 'btn btn-success')
      - if @hop.daily
        = link_to 'Back', admin_daily_hops_path, class: 'btn btn-info'
      - else
        = link_to 'Back', admin_regular_hops_path, class: 'btn btn-info'
      = link_to('Destroy', admin_hop_path(@hop), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' })
.row-fluid
  .span12.text-error
    -if @exp
      -@exp.flatten!
      - for i in  @exp.first
        %br
        %b
          = i.first
          .offset3
            -for e in i[1]
              %b
                =e
                %br
%br
.row-fluid
  .span4

    = image_tag @hop.logo.url, class: 'img-polaroid', style: 'max-width: 400px; max-height: 400px'
  .span8
    %table.hops-form
      %tr
        %td
          %b
            Name:
        %td
          = @hop.name
      %tr
        %td
          %b
            Time start:
        %td
          = @hop.time_start
      - unless @hop.daily
        %tr
          %td
            %b
              Time end:
          %td
            = @hop.time_end
        %tr
          %td
            %b
              Producer:
          %td
            - if @hop.producer
              = @hop.producer.first_name
              = @hop.producer.last_name
        %tr
          %td
            %b
              Producer contact:
          %td
            - if @hop.producer
              = @hop.producer.contact
        %tr
          %td
            %b
              Producer Phone:
          %td
            - if @hop.producer
              = @hop.producer.phone
        %tr
          %td
            %b
              Producer Email:
          %td
            - if @hop.producer
              = @hop.producer.email
        %tr
          %td
            %b
              Code:
          %td
            = @hop.code
        %tr
          %td
            %b
              Price:
          %td
            = @hop.price
        %tr
          %td
            %b
              Jackpot:
          %td
            = @hop.jackpot
        %tr
          %td
            %b
              Special event:
          %td
            = @hop.event
%hr
.row-fluid
  .span6
    %h4
      Prizes:
  .span6.text-right
    %button.btn.btn-success{onclick: 'prizes_modal.newRecord({hop_id: ' + @hop.id.to_s + '}, "Create prize");'}
      New Prize
#prizesTable
  = render partial: 'admin/prizes/list'

%hr
.row-fluid
  .span6
    %h4
      Tasks:
  .span6.text-right
    %button.btn.btn-success{onclick: 'tasks_modal.newRecord({hop_id: ' + @hop.id.to_s + '}, "Create hop task");'}
      New Hop Task
#tasksTable
  = render partial: 'admin/hop_tasks/tasks'

%hr
.row-fluid
  .span6
    %h4
      Ads:
  .span6.text-right
    %button.btn.btn-success{onclick: 'ads_modal.newRecord({hop_id: ' + @hop.id.to_s + '}, "Create ad");'}
      New Ad
#adsTable
  = render partial: 'admin/ads/list'

%hr
%h4
  Hoppers:
- if @hoppers.blank?
  List has no rows
- else
  %table.table.table-condensed
    %tr
      %th
        First Name
      %th
        Last Name
      %th
        User Name
      %th
    - @hoppers.each do |user|
      %tr
        %td
          = link_to user.first_name, user_path(:id => user.id)
        %td
          = user.last_name
        %td
          = user.user_name
        %td
          = image_tag user.avatar.url, class: 'img-polaroid', style: 'height: 110px'
%br
.row-fluid
  .span2.text-right
    = link_to 'Export to Pdf',  admin_print_hop_to_pdf_path(:id => @hop.id,  :format => 'pdf'),:method => 'post',:target=>"_blank", :class => 'btn btn-success'
  .span10
    .text-right
      = link_to 'Export to Excel',  admin_print_hop_to_excel_path(:id => @hop.id, :format => 'xls' ),:method => 'post', :class => 'btn btn-success'

