%p{:id=>"notice"}
  =notice
%table{:class=>"table, table-bordered table-condensed"}
  %tr
    %td
      %b
        Name:
    %td
      %b
        Time start:
    %td
      %b
        Time end:
  %tr
    %td
      =@hop.name
    %td
      =@hop.time_start
    %td
      =@hop.time_end
  %tr
    -if !@hop.daily_hop
      %tr
        %td
          %b
            Showprod id:
        %td
          %b
            Showprod contact:
        %td
          %b
            Contact phone:
        %td
          %b
            Contact email:
        %td
          %b
            Hop code:
      %tr
        %td
          =@hop.producer_id
        %td
          = @hop.contact_phone
        %td
          = @hop.producer_contact
        %td
          = @hop.contact_email
        %td
          = @hop.hop_code
      %tr
        %td
          %b
            Hop price:
        %td
          %b
            Jackpot:
        %td
          %b
            Hop items:
        %td
          %b
            Special event:
      %tr
        %td
          = @hop.hop_price
        %td
          = @hop.jackpot
        %td
          = @hop.hop_items
        %td
          = @hop.event
%br
= link_to 'Edit', edit_admin_hop_path(@hop)  |
= link_to 'Back', admin_hops_path(:daily_hop =>@hop.daily_hop)
%br
%h3
  Create task
= form_tag admin_hop_tasks_path(:hop_id=>@hop.id) , :multipart => true do
  -if @hop_task.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@hop_task.errors.count, "error")
        prohibited this hop_task from being saved:
      %ul
        -@hop_task.errors.full_messages.each do |msg|
          %li
            = msg
  = text_field(:hop_task, :text_for_hop, :placeholder=>"text for task", :class=>"span10")
  = number_field(:hop_task, :pts, :placeholder=>"PTS")
  = number_field(:hop_task, :bonus, :placeholder=>"bonus")
  -if !@hop.daily_hop
    %div{class: "controls controls-row"}
      = number_field(:hop_task, :sponsor_name,:placeholder=>"sponsor name",:class=>"span10")
      = number_field(:hop_task, :hop_task_price, :placeholder=>"price", :class=>"span2")
    = file_field(:hop_task, :hop_picture)
  %br
    = submit_tag
%h3
  Create ad
%br
= form_tag  admin_ads_path(:hop_id=>@hop.id), :multipart => true do
  -if @hop_ad.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@hop_ad.errors.count, "error")
        prohibited this hop_task from being saved:
      %ul
        -@hop_ad.errors.full_messages.each do |msg|
          %li
            = msg
  = text_field(:ad, :ad_name, :placeholder=>"name")
  = text_field(:ad,:contact, :placeholder=>"Contact")
  = email_field(:ad,:email, :placeholder=>"email")
  = text_field(:ad,:phone, :placeholder=>"phone")
  = url_field(:ad,:link_to_ad, :placeholder=>"link to ad")
  = number_field(:ad, :price, :placeholder=>"price")
  = file_field(:ad, :hop_ad_picture)
  %div{:class=>"field", :id=>"radio_button" }
    = radio_button(:ad,:ad_type, "sp", :checked => true )
    %b
      SP
    = radio_button(:ad, :ad_type, "rofl")
    %b
      ROFL
    - if @hop.daily_hop
      = radio_button(:ad, :ad_type, "ropu")
      %b
        ROPU
  %div{:class=>"actions"}
    = submit_tag
%br
%div{:class=>"actions"}
  = button_to 'Close project', admin_close_path
%h3
  Tasks
-@hop.hop_tasks.each do |hop_task|
  %table{:class=>"table, table-bordered table-condensed"}
    %tr
      %td
        %strong
          Sponsor id:
      %td
        %strong
          Price:
      %td
        %strong
          Text:
      %td
    %tr
      %td
        = hop_task.sponsor_id
      %td
        = hop_task.hop_task_price
      %td
        = hop_task.text_for_hop
      %td
        = link_to 'Show', admin_hop_task_path(hop_task.id)
        = link_to 'Edit', edit_admin_hop_task_path(hop_task)
        = link_to 'Destroy',  [:admin, hop_task], :confirm => 'Are you sure?', :method => :delete
%h3
  Ads
-@hop.ads.each do |hop_ad|
  %table{:class=>"table, table-bordered table-condensed"}
    %tr
      %td
        %strong
          Advert Name:
      %td
        %strong>
          Phone:
      %td
        %strong
          Email:
      %td
    %tr
      %td
        = hop_ad.ad_name
      %td
        = hop_ad.phone
      %td
        = hop_ad.email
      %td
        = link_to 'Show',  admin_ad_path(hop_ad.id)
        = link_to 'Edit', edit_admin_ad_path(hop_ad)
        = link_to 'Destroy',  admin_ad_path(hop_ad), :confirm => 'Are you sure?', :method => :delete

