%p{:id=>"notice"}
  =notice
%table#show
  %tr
    %td
      %b
        Name:
    %td
      %b
        Time start:
    %td
      %b
        Time end:
  %tr
    %td
      =@hop.name
    %td
      =@hop.time_start
    %td
      =@hop.time_end
  %tr
    -if !@hop.daily_hop
      %tr
        %td
          %bShowprod id:
        %td
          %bShowprod contact:
        %td
          %bContact phone:
        %td
          %bContact email:
        %td
          %bHop code:
      %tr
        %td
          =@hop.producer_id
        %td
          = @hop.contact_phone
        %td
          = @hop.producer_contact
        %td
          = @hop.contact_email
        %td
          = @hop.hop_code
      %tr
        %td
          %b
            Hop price:
        %td
          %b
            Jackpot:
        %td
          %b
            Hop items:
        %td
          %b
            Special event:
      %tr
        %td
          = @hop.hop_price
        %td
          = @hop.jackpot
        %td
          = @hop.hop_items
        %td
          = @hop.event
%br
= link_to 'Edit', edit_admin_hop_path(@hop)  |
= link_to 'Back', admin_hops_path(:daily_hop =>1)
%br
%h2
  Tasks
%br
-@hop.hop_tasks.each do |hop_task|
  %table#show
    %tr
      %td
        %strong
          Sponsor name:
      %td
        %strong
          Price:
      %td
        %strong
          Text:
      %td
      %td
      %td
    %tr
      %td
        = hop_task.sponsor_name
      %td
        = hop_task.hop_task_price
      %td
        = hop_task.text_for_hop
      %td
        = link_to 'Show', admin_hop_task_path(hop_task.id)
      %td
        = link_to 'Edit', edit_admin_hop_task_path(hop_task)
      %td
        = link_to 'Destroy',  [:admin, hop_task], :confirm => 'Are you sure?', :method => :delete
  %br
= form_tag admin_hop_tasks_path, :multipart => true do
  %table#show
    %tr
      %td= label_tag :text_for_hop
      %td= text_area_tag :text_for_hop
    -if @hop.daily_hop
      %tr
        %td= label_tag :pts
        %td= number_field_tag :pts
      %tr
        %td= label_tag :bonus
        %td= number_field_tag :bonus
    -else
      %tr
        %td= label_tag :hop_task_price
        %td= number_field_tag :hop_task_price
      %tr
        %td= label_tag :sponsor_name
        %td= number_field_tag :sponsor_name
      %tr
        %td= label_tag :hop_picture
        %td= file_field_tag :hop_picture
      %tr
        %td= hidden_field_tag :hop_id, @hop.id
        %td= submit_tag
%h2
  Ad
%br
-@hop.hop_ads.each do |hop_ad|
  %table#show
    %tr
      %td
        %strong
          Advert Name:
      %td
        %strong>
          Phone:
      %td
        %strong
          Email:
      %td
      %td
      %td
      %td
    %tr
      %td
        = hop_ad.ad_name
      %td
        = hop_ad.phone
      %td
        = hop_ad.email
      %td= link_to 'Show',  admin_hop_ad_path(hop_ad.id)
      %td= link_to 'Edit', edit_admin_hop_ad_path(hop_ad)
      %td= link_to 'Destroy',  [:admin, hop_ad], :confirm => 'Are you sure?', :method => :delete
%br
%br
= form_tag admin_hop_ads_path(:hop_id=>@hop.id), :multipart => true do
  %table#show
    %tr
      %td= label_tag :ad_name
      %td= text_field(:hop_ad, :ad_name)
    %tr
      %td= label_tag :contact
      %td= text_field(:hop_ad,:contact)
    %tr
      %td= label_tag :email
      %td= email_field(:hop_ad,:email)
    %tr
      %td= label_tag :phone
      %td= text_field(:hop_ad,:phone)
    %tr
      %td= label_tag :link_to_ad
      %td= url_field(:hop_ad,:link_to_ad)
    %tr
      %td= label_tag :price
      %td= number_field(:hop_ad, :price)
    %tr
      %td= label_tag :hop_ad_picture
      %td= file_field(:hop_ad, :hop_ad_picture)
  %div{:class=>"field", :id=>"radio_button" }
    = radio_button(:hop_ad,:ad_type, "sp")
    %b
      SP
    = radio_button(:hop_ad, :ad_type, "rofl")
    %b
      ROFL
    - if @hop.daily_hop
      = radio_button(:hop_ad, :ad_type, "ropu")
      %b
        ROPU
  %div{:class=>"actions"}
    = submit_tag
%br
%div{:class=>"actions"}
  = button_to 'Close project', admin_close_path
