%h2
  .row-fluid
    .text-left.span6
      Applications:
    .text-right.span6
      = button_to 'New Application', new_admin_application_path, class: 'btn btn-info', method: :get
%table.table.table-striped
  %tr
    %th
      Name
    %th
      Description
    %th
  - @applications.each do |application|
    %tr
      %td
        = application.name
      %td
        = application.description
      %td{style: 'text-align: right'}
        = link_to 'Show', admin_application_path(application), class: 'btn'
        = link_to 'Edit', edit_admin_application_path(application), class: 'btn btn-primary'
        = link_to 'Destroy', admin_application_path(application), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
