<%= form_for([@hop_task.hop, @hop_task]) do |f| %>
  <% if @hop_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_task.errors.count, "error") %> prohibited this hop_task from being saved:</h2>

      <ul>
      <% @hop_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text_for_hop %><br />
    <%= f.text_area :text_for_hop %>
  </div>

  <div class="field">
    <%= f.label :hop_task_price %><br />
    <%= f.text_field :hop_task_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
