#hops_list
  .row-fluid
    .span10
      = text_field_tag :input, params[:query],  id: 'search_field'
    .span2.text-right.row
      %button.btn{onclick: 'search_hop();', :id =>'search_hop'}
        Search
  = will_paginate @hops, renderer: BootstrapPagination::Rails, inner_window: 0, outer_window: 0
  %table.table.table-condensed
    %tr
      %th
        Id
      %th
        First Name
      %th
        Daily
      %th

    - @hops.each do |hop|
      %tr
        %td

          = hop.id
        %td
          = hop.name
        %td
          = hop.daily
        %td{style: 'text-align: right'}
          - if @selected_hops.include?(hop.id.to_s)
            %button.btn.btn-mini
              Add
          - else
            %button.btn.btn-mini.btn-success{onclick: "select_hop( this, '#{hop.id}', '#{hop.name}')"}
              Add
  .text-center
    %h3
      = 'Not found' if @hops.blank?
  = will_paginate @hops, renderer: BootstrapPagination::Rails