#hops_list
  .row-fluid
    .span7
      = will_paginate @hops, renderer: BootstrapPagination::Rails, inner_window: 0, outer_window: 0
    .span5.text-right.row
      = text_field_tag :input, params[:query], class: 'span7', id: 'search_field'
      = link_to 'Search',  '#', class: 'btn span4', id: 'search_button'
  %table.table.table-condensed
    %tr
      %th
        Id
      %th
        First Name
      %th
        Daily
      %th
    - @hops.each do |hop|
      %tr
        %td
          = hop.id
        %td
          = hop.name
        %td
          = hop.daily
        %td{style: 'text-align: right'}
          - if @selected_hops.include?(hop.id.to_s)
            %button.btn.btn-mini
              Add
          - else
            %button.btn.btn-mini.btn-success{onclick: "select_hop( this, '#{hop.id}', '#{hop.name}')"}
              Add
  = will_paginate @hops, renderer: BootstrapPagination::Rails