#users_list
  .row-fluid
    .span7
      = will_paginate @users, renderer: BootstrapPagination::Rails
    .span5.text-right.row
      = text_field_tag :text, '',  class: 'span7', id: 'search_field' #:input, ,', id: 'search_field'
      = link_to 'Search',  admin_messages_email_tool_path, class: 'btn span4', id: 'search_user'
  %table.table.table-condensed
    %tr
      %th
        Id
      %th
        User Name
      %th
        Email
      %th
    - @users.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.user_name
        %td
          = user.email
        %td{style: 'text-align: right'}
          - if params[:selected_users].include?(user.id.to_s)
            %button.btn.btn-mini
              Add
          - else
            %button.btn.btn-mini.btn-success{onclick: "select_user( this, '#{user.id}', '#{user.first_name}')"}
              Add
  = will_paginate @users, renderer: BootstrapPagination::Rails