#users_list
  .row-fluid
    .span7
      = will_paginate @zips, renderer: BootstrapPagination::Rails, inner_window: 0, outer_window: 0
    .span5.text-right.row
      = text_field_tag :input, params[:query], class: 'span7', id: 'search_field'
      = link_to 'Search',  admin_messages_email_tool_path, class: 'btn span4', id: 'search_button'
  %table.table.table-condensed
    %tr
      %th
        Zip
      %th
    - @zips.each do |zip|
      %tr
        %td
          = zip

        %td{style: 'text-align: right'}
          = link_to 'Search',  admin_messages_email_tool_path(:id_zip =>zip), id: 'select_id'

  = text_field_tag :input, @select_id
  = will_paginate @users, renderer: BootstrapPagination::Rails