<h2>Email list</h2>
 <table class="table">
     <tr>
       <td>Email from</td>
       <td>Subject line</td>
       <td>Text</td>
       <td>Receiver id</td>
       <td>Author id</td>
       <td>Attach file</td>
     </tr>
       <% if !@emails.blank? %>
         <% for i in @emails do %>
           <tr>
             <td><%= i.email_author %></td>
             <td><%= i.subject %></td>
             <td><%= i.text %></td>
             <td><%= i.receiver.email if i.receiver %></td>
             <td><%= i.sender_id %></td>
             <td><%= image_tag(i.file.url) %></td>
           </tr>

         <% end %>
       <% else %>
         <h2>Not found</h2>
       <% end %>
  </table>

<%= link_to "Back", admin_messages_email_tool_path %>