- if @email && @email.errors.any?
  - @email.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= render partial: 'layouts/modal_crud'
- if !flash[:winner].blank?
  :javascript
    $('.new-hop').html('123');
    $('.subject-container').css('display', 'none');
:javascript
  var hops_modal;
  var users_modal;

  $(document).ready(function(){
    hops_modal = new ModalCRUD({
      exception_field_id: 'hops_ids_'
    });
    users_modal = new ModalCRUD({
      exception_field_id: 'users_ids_'
    });
  });

= form_for(@email, url: admin_messages_email_create_path, html: {:multipart => true}) do |f|
  .row-fluid
    .span4
      Filters:
    .span2
      Hops:
      %br
      = select_tag 'hops_ids[]', "", :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Hops"}
    .span2
      Zip codes:
      %br
      = select_tag 'zip_codes[]', options_for_select(User.zip_codes.map!{ |item| [item['zip'], item['zip']]}), :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Zip Codes"}
    .span2
      Users:
      %br
      %div{:style => 'max-height: 150px; overflow: auto;'}
        = select_tag 'users_ids[]', options_for_select(@users[0],@users[1]), :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Users"}

    .span2
      %br
      = link_to 'Select all users','#',  :class => 'btn btn-success select-all', :onclick =>'select_all(this);return false'

  %br
  .row-fluid
    .span3
      Template(temp):
      =hidden_field_tag(:hop_id, @prize.hop.id) unless @prize.hop.blank?
      %br


      = f.select :template_id, options_for_select([['General Email', 1],[' Winners Email', 2],['New HOP email', 3]], flash[:winner]), {}, {class: 'span12 template-select',:onchange => "winner_hop(this);"}
      %br
      Send from:
      %br

      = f.select :sender_id, [['CashHopper', ''], [full_user_name(current_user), '']], {}, {class: 'span12' }
      %br
      File:
      %br
      = file_field_tag :file
    .span9

      .new-hop{:style=>'display: none'}
        NAME OF HOP:
        %input{ :name => 'hop_name', :value => @hop_name, :placeholder=>'put hop name'}
      %br
      %br
      .hop-winner{:style=>'display:none'}
        PRIZE PLACE:
        %input{ name:'prize_place', :value => @prize.place, :placeholder=>'put prize place'}


      .subject-container
        Subject:
        = f.text_field :subject, class: 'span12 subject'
      %br
      Content:
      = f.text_area :text, class: 'span12', rows: 4
  .row-fluid
    .span3
      %button.btn.btn-success
        Send
    .span9

-if !@users.flatten.blank?
  .row-fluid
    .span3
      =button_to 'Back to Hopper_info',  admin_hoppers_find_hopper_path(),  class: 'btn btn-success'
    .span3
      =button_to 'Back to Generate hopper list',  admin_hoppers_hopper_list_path(),  class: 'btn btn-success'
