<h1>Send emails</h1>
<br />

<%= form_for @message, :url=>admin_messages_create_email_path do |e| %>

    <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this hop_task from being saved:</h2>

          <ul>
            <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<table>
  <tr>
    <td class ="span4">Filters</td>
    <td class ="span4">Hop</td>
    <td class ="span4">Zip code</td>
    <td class ="span4">User id</td>
  </tr>
  <tr>
    <td></td>
    <td><%= select_tag 'hopId[]', nil ,:class=>"input-large chzn-select", :id=>'find_hop', :multiple=>"multiple", data: {placeholder: "choose by hop"} %></td>
    <td><%= select_tag 'zipId[]', nil , :class=>"input-large chzn-select", :id=>'find_zip' ,:multiple=>"multiple", data: {placeholder: "choose by zip"} %></td>
    <td><%= select_tag 'userId[]', options_for_select(@arr, @arr_id) , :class=>"input-large chzn-select" , :id=>'find_user', :multiple=>"multiple", data: {placeholder: "choose by user"} %></td>
  </tr>


</table>
<br />
<br />
<br />
    <%= hidden_field_tag :email , true %>

<table>
  <tr>
    <td class="span5"><%= e.radio_button :template,"temp1", :checked => true %>Temp 1 <%= e.radio_button :template, "temp2" %>Temp 2  <%= e.radio_button :template, "temp3" %>Temp 3</td>
    <td><%= e.text_field :subject, :class=>"input-xlarge", :placeholder=>"SABJECT LINE" %></td>
  </tr>
  <tr>
    <td><%= e.select :email_author, ['HOPMASTER@CashHoppers.com',current_user.email],:class=>"input-medium",  :placeholder=>"SEND FROM" %></td>
    <td></td>
  </tr>
  <tr>
    <td><%= e.file_field :file, :class=>"input-medium",  :placeholder=>"ATTACHE FILE" %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><%= e.text_area :text, :class=>"input-xlarge",  :placeholder=>"CONTENT", :rows=>"10" %></td>
  </tr>
  <tr>

    <td><%= e.submit "SEND", :class=>"input-medium btn btn-success" %></td>
    <td></td>
  </tr>
</table>
<% end %>

<div class="pull-right"><%= link_to  "Email history", admin_messages_email_history_path%></div>

<%= link_to "Find hopper", admin_hoppers_find_hopper_path %>|
<%= link_to "Hopper list", admin_hoppers_hopper_list_path %>


<div class="modal hide fade in" id="myModal" tabindex="-1" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" >

  </div>
  <div class="modal-body">
    <div id="myModal" class="example cursor">
      <%= render partial: "users_list" %>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</div>


<div class="modal hide fade in" id="myModalzip" tabindex="-1" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" >
 </div>
  <div class="modal-body">
    <div id="myModalzip" class="example cursor">

    </div>
  </div>
  <div class="modal-footer">

  </div>
</div>

<div class="modal hide fade in" id="myModalhop" tabindex="-1" role="dialog" style="display: none;" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" >
 </div>
  <div class="modal-body">
    <div id="myModalhop" class="example cursor">

    </div>
  </div>
  <div class="modal-footer">
 </div>
</div>
