- if @email.errors.any?
  - @email.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= render partial: 'layouts/modal_crud'
:javascript
  var hops_modal;
  var users_modal;

  $(document).ready(function(){
    hops_modal = new ModalCRUD({
      exception_field_id: 'hops_ids_'
    });
    users_modal = new ModalCRUD({
      exception_field_id: 'users_ids_'
    });
  });
= form_for @email, url: admin_messages_email_create_path do |f|
  .row-fluid
    .span3
      Filters:
    .span3
      Hops:
      %br
      = select_tag 'hops_ids[]', "", :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Hops"}
    .span3
      Zip codes:
      %br
      = select_tag 'zip_codes[]', options_for_select(User.zip_codes.map!{ |item| [item['zip'], item['zip']]}), :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Zip Codes"}
    .span3
      Users:
      %br
      = select_tag 'users_ids[]', "", :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Users"}
  %br
  .row-fluid
    .span3
      Template(temp):
      %br
      = f.text_field :template_id, class: 'span12'
      %br
      Send from:
      %br
      = f.select :sender_id, [['CashHoppers', ''], [full_user_name(current_user), '']], {}, {class: 'span12' }
      %br
      File:
      %br
      = file_field_tag :file
    .span9
      Subject:
      = f.text_field :subject, class: 'span12'
      %br
      Content:
      = f.text_area :text, class: 'span12', rows: 4
  .row-fluid
    .span3
      %button.btn.btn-success
        Send
    .span3