- if @message.errors.any?
  - @message.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= render partial: 'layouts/modal_crud'
:javascript
  var hops_modal;
  var users_modal;

  $(document).ready(function(){
    hops_modal = new ModalCRUD({
      index_path: "#{admin_messages_hops_list_path}",
      exception_field_id: 'hops_ids_',
      title: 'Find Hops:'
    });
    users_modal = new ModalCRUD({
      exception_field_id: 'users_ids_',
      title: 'Find Users:'
    });
  });
= form_for @message, url: admin_messages_message_create_path do |f|
  .row-fluid

    .span3
      Filters:
    .span3
      Hops:

      %br
      = select_tag 'hops_ids[]','', :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Hops"}
    .span3
      Zip codes:
      %br
      = select_tag 'zip_codes[]', options_for_select(User.zip_codes.map!{ |item| [item['zip'], item['zip']]}), :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Zip Codes"}
    .span3
      Users:
      %br
      = select_tag 'users_ids[]', options_for_select(@users), :multiple => true, :class => 'span12 chzn-select', data: {placeholder: "Chose Users"}
  .row-fluid
    .span3
      Send from:
      %br
      = f.select :sender_id, [['CashHopper', ''], [full_user_name(current_user), '']], {}, {class: 'span12' }
      %br
      Schedule:
      %br
      #datetimepicker1.input-append.date
        = f.text_field :schedule_date, 'data-format' => 'dd/MM/yyyy hh:mm:ss', 'type' => 'text'
        %span.add-on
          %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
          :javascript
            $(function(){
                $('#datetimepicker1').datetimepicker({
                    language: 'pt-BR'
                });
            });
    .span9

      Content:
      = f.text_area :text, class: 'span12', rows: 4
  .row-fluid
    .span3
      %button.btn.btn-success
        Send
    .span3
-if !@users.flatten.blank?
  .row-fluid
    .span3
      =button_to 'Back to Hopper_info',  admin_hoppers_find_hopper_path(), class: 'btn btn-success'
    .span3
      =button_to 'Back to Generate hopper list',  admin_hoppers_hopper_list_path(),  class: 'btn btn-success'
