<h1>Send message</h1>
<br />

<%= form_for @message, url: admin_messages_create_message_path do |f| %>

    <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this hop_task from being saved:</h2>

          <ul>
            <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tr>
        <td class ="span4">Filters</td>
        <td class ="span4">Hop</td>
        <td class ="span4">Zip code</td>
        <td class ="span4">User id</td>
      </tr>
      <tr>
        <td><%= %></td>
        <td><%= f.text_field :receiver_id, :class=>"input-mini" %></td>
        <td><%= f.text_field :receiver_id, :class=>"input-mini" %></td>
        <td><%= f.text_field :receiver_id, :class=>"input-mini" %></td>
      </tr>
    </table>

    <table>
      <tr>
        <td id="top"><%= f.select :email_author, ['HOPMASTER@CashHoppers.com',current_user.email],:class=>"input-medium"%></td>
        <td><%= f.text_area :text, :class=>"input-xlarge",  :placeholder=>"CONTENT", :rows=>"10" %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= f.submit "SEND", :class=>"span10 btn btn-success" %></td>
        <td></td>
      </tr>

    </table>



    <table>
      <tr>
        <td class="span" ><%= check_box_tag(:schedule ) %> SCHEDULE SEND </td>
        <td ><div class="field" id="data">

          <div id="datetimepicker1" class="input-append date" >
            <%= f.text_field :send_at, 'data-format' => 'dd/MM/yyyy hh:mm:ss', 'type' => 'text' %>
             <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
        <script>
            $(function(){
                $('#datetimepicker1').datetimepicker({
                    language: 'pt-BR'
                });
            });
        </script>
      </span>
          </div>
        </div>
      </td>
    </table>
<% end %>

<div class="pull-right"><%= link_to "Message history", admin_messages_message_history_path %></div>
<%= link_to "Find hopper", admin_hoppers_search_hopper_path %>|
<%= link_to "Hopper list", admin_hoppers_search_hoppers_path %>