
= form_for  @user, :url => users_update_path(:id =>@user),  :method => :put  do |f|
  = @user.errors
  %table
    %tr
      %td Email:
      %td
        = f.email_field :email, :autofocus => true
      %td
        = f.file_field :avatar
    %tr
      %td
        First name:
      %td
        = f.text_field :first_name
    %tr
      %td
        Last name:
      %td
        = f.text_field :last_name
    %tr
      %td
        User name:
      %td
        = f.text_field :user_name
    %tr
      %td.span3
        Phone:
      %td
        = f.text_field :phone
    %tr
      %td
        Contact:
      %td
        = f.text_field :contact
    %tr
      %td
        Biography:
      %td
        = f.text_area :bio , :rows => 5
    %tr
      %td
        Password:
      %td
        = f.password_field :password
    %tr>
      %td
        Confirm password
      %td
        = f.password_field :password_confirmation
      %tr
      %td
      %td
        = f.submit "Update"
= link_to "Back", :back