:css
  body {
     padding: 0%;

   }
.span12.text-center
  %fieldset.btn.profile{:style => " width: 100%"}
    %h1.text-center
      = @user.first_name
    %br
    %br
    .row-fluid
      .span6.text-center.small-screen
        = image_tag @user.avatar.url, :style => 'max-height: 350px; max-width: 100%;'
      %br
      .span6
        .row-fluid.span10
          .span4.text-left
            %strong
              First name:
          .span8.text-left
            = @user.first_name
        .row-fluid.span10
          .span4.text-left
            %strong
              Last name:
          .span8.text-left
            = @user.last_name
        .row-fluid.span10
          .span4.text-left
            %strong
              User name:
          .span8.text-left
            = @user.user_name
        .row-fluid.span10.email
          .span4.text-left
            %strong
              Email:
          .span8.text-left
            = @user.email
        .row-fluid.span10
          .span4.text-left
            %strong
              Zip:
          .span8.text-left
            = @user.zip
        .row-fluid.span10
          .span4.text-left
            %strong
              Contact:
          .span8.text-left
            = @user.contact
        .row-fluid.span10
          .span4.text-left
            %strong
              Phone:
          .span8.text-left
            = @user.phone
        .row-fluid.span10.email
          .span4.text-left
            %strong
              Bio:
          .span8.text-left
            %div{stule: 'max-width = 100%; word-wrap: break-word;'}
              = @user.bio

        .row-fluid.span10
          .span4.text-left
            %strong
              Twitter:
          .span8.text-left
            = link_to @user.twitter, @user.twitter if @user.twitter
        .row-fluid.span10
          .span4.text-left
            %strong
              Facebook:
          .span8.text-left
            = link_to @user.facebook, @user.facebook if @user.facebook
        .row-fluid.span10
          .span4.text-left
            %strong
              Google +:
          .span8.text-left
            = link_to @user.google, @user.google if @user.google


      .span6.text-center.large-screen
        = image_tag @user.avatar.url, :style => 'max-height: 350px; max-width: 100%;'
    %br
    #subscribe
      = render partial: 'subscribe'
    %br
    = button_to 'Update information', edit_user_registration_path, :method => 'get', :class=>'btn btn-info'
    %br
    .row-fluid
      .span12
        %h4.text-center
          My hops:
        %table
          %tr
            %th
              Name:
            %th
              Producer:
            %th
              Type
            %th
              Hop photos:
            %th
          - @hops.each do |hop|
            %tr
              %td
                %div{}
                  -if User.user?(current_user)
                    = hop.name
                  -else
                    = link_to hop.name, admin_hop_path(hop)

              %td
                %div
                  = link_to(hop.producer.user_name, user_path(hop.producer)) if  hop.producer
              %td
                =  hop.daily ? 'Daily': 'Regular'
              %td
                =  link_to 'Hop photos',admin_hop_photos_path({:hop_id =>hop.id })



