%h1.offset3
  = @user.first_name
%br
%br
%p.pull-right
  = image_tag @user.avatar.url
%table
  %tr
    %td.span5
      %strong
        First name
      %br
      %br

    %td
      = @user.first_name
      %br
      %br
  %tr
    %td
      %strong
        Last name
      %br
      %br
    %td
      = @user.last_name
      %br
      %br
  %tr
    %td
      %strong
        User name
      %br
      %br
    %td
      = @user.user_name
      %br
      %br
  %tr
    %td
      %strong
        Email
      %br
      %br
    %td
      = @user.email
      %br
      %br
  %tr
    %td
      %strong
        ZIP
      %br
      %br
    %td
      = @user.zip
      %br
      %br
  %tr
    %td
      %strong
        Contact
      %br
      %br
    %td
      = @user.contact
      %br
      %br
  %tr
    %td
      %strong
        Phone
      %br
      %br
    %td
      = @user.phone
      %br
      %br
  %tr
    %td
      %strong
        Bio
      %br
      %br
    %td
      = @user.bio
      %br
      %br
  %tr
    %td
      %strong
        Twitter
      %br
      %br
    %td
      = link_to @user.twitter, @user.twitter if @user.twitter
      %br
      %br
  %tr
    %td
      %strong
        Facebook
      %br
      %br
    %td
      = link_to @user.facebook, @user.facebook if @user.facebook
      %br
      %br
  %tr
    %td
      %strong
        Google +
      %br
      %br
    %td
      = link_to @user.google, @user.google if @user.google
      %br
      %br
-if @user == current_user
  = button_to 'Update information', edit_user_registration_path, :method => 'get'

%h4
  Hops:
%table.table.table-condensed
  %tr
    %th
      Name:
    %th
      Producer:
    %th
      Type
    %th
  - @hops.each do |hop|
    %tr
      %td
        = link_to hop.name, admin_hop_path(hop)
      %td
        = link_to(hop.producer.user_name, user_path(hop.producer)) if  hop.producer
      %td
        =  hop.daily ? 'Daily': 'Regular'





