<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Description:</b>
  <%= @application.description %>
</p>

<p>
  <b>Api key:</b>
  <%= @application.api_key %>
</p>


<%= link_to 'Edit', edit_admin_application_path(@application) %> |
<%= link_to 'Back', admin_applications_path %>
