.custom-pg.first-page{style: "background-image: url(#{asset_path "background#{rand(3)+1}.jpg"});  position: relative;"}
  %h2{:id=>"first-page"}
  .social-links#social1
    %a{href: '/auth/facebook', class: 'services facebook', :style=>''}
      =image_tag('f.png', :style=>'height:70px')
    %a{href: '/auth/twitter', class: 'services'}
      =image_tag('t.png', :style=>'height:70px')
    %a{href: '/auth/google', class: 'services'}
      =image_tag('g.2.png', :style=>'height: 70px; width: 70px;')
  .divas1
    -#-if  flash[:notice]
    -#  .alert.alert-success.text-center{ style: 'margin: 5% 5%; opacity: 0.5'}
    -#    = flash[:notice]
    .top-sign#firsttop-sign
      IT PAYS TO GET AROUND
      %br
        %p The photo-scavenger game that pays tou cash
    .divas2
      .phone
        .carousel.slide#myCarousel
          .carousel-inner
            .item.active
              =image_tag @user_hop_tasks.first.photo.url

            - @user_hop_tasks.each do |task|
              .item
                =image_tag task.photo.url
          %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
          %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


.page-divider
%h2{:id=>"about"}
.custom-pg.gray-page
  .divas1
    .divas2
      %h2{:id=>"gray-page"}
      .row-fluid
        .span2
        .span8.video
          .top-sign
            WHAT IS
            = succeed "HOPPERS" do
              %span.weight CASH
            ALL ABOUT ?
          %br
          %br
          .video-container

            = video_tag ["video/media.mp4"],  :controls => true,:type=>"video/mp4", :autobuffer => true,  'webkit-playsinline'=>''
          .text-center
            .video-text
              CASHHOPPERS is a photo scavenger hunt contest you play on your cell phone for CASH and other prizes
              There a Daily HOPs where you can complete against other Hoppers from around the globe. Or you can join
              private HOPs played at trade shows, fairs, weddings receptions, school fundraisers, and more!
              %br
                .weight
                  Download the
                  =link_to 'FREE CASHHOPPERS APP', '#', :class => 'download_app'
                  today and start HOPPING!
        .span2


.page-divider
%h2{:id=>"how_to_play"}
.custom-pg.yellow-page
  .divas1
    .divas2
      %h2{:id=>"yellow-page"}
      .row-fluid
        .span2
        .span8.video
          .top-sign
            HOW TO
            %span.weight PLAY
          %br
          .video-container
            = video_tag ["video/media.mp4"],  :controls => true,:type=>"video/mp4", :autobuffer => true
          .video-text
            %ul
              %li
                Download the
                %span.weight
                  = link_to 'FREE app.', '#', :class=>'download_app'
              %li
                Find the HOP you want to play(enter the password if it's a private HOP).
              %li
                Start taking pictures on the list (Remember, you have to be visible in every picture to be eligible.)
              %li
                Add an optional comment and share your picture on Facebook.
              %li
                Wait to see if you've won!
            It's that easy !
            %br
            %br
            =link_to 'TOUR A TRADE SHOW HOP',  pages_trade_show_path, :class => 'btn btn-success '
        .span2


.page-divider
%h2{:id=>"gallery"}
.custom-pg.what-page
  %h2{:id=>"what-page"}
  .row-fluid
    .span2
    .span8.text-center.gallery
      .top-sign
        AT THE HOP
      %br
        %p See what other Hoppers are taking pictures of and pick your favorites!
      %br
      .carousel.slide.gallery-2#carousel2

        .carousel-inner
          - unless @tasks_pack.blank?

            - @tasks_pack.each do |pack|
              .item
                - unless pack.blank?
                  - pack.each do |task|
                    .inline{:width => '20%', style:'display: inline'}
                      = image_tag( task.photo.url , :style => "display: inline", :width => '20%')
        %a.carousel-control.left{"data-slide" => "prev", :href => "#carousel2"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#carousel2"} ›
    .span2


.page-divider
%h2{:id=>"business"}
.custom-pg.business-page
  %h2{:id=>"business-page"}
  .row-fluid#business
    .span2
    .span8.text-center.page-3
      .top-sign
        = succeed "HOPPERS" do
          %span.weight CASH
        FOR
        %span.weight BUSINESS
      %br
      .row-fluid.business-block
        .span12.text-left
          = image_tag 'home_business.png', :class => 'business-img', :id=>"business-img", :style=>'max-height: 600px; max-width: 400px; float: right; '

          .business
            The CASHHOPPERS game is a great tool to add to your marketing
            and advertising mix. SPONSOR a HOP item, and drive players to your
            booth, building or web site. ADVERTISE within the app and reach
            players with promotional opportunities, product discounts or brand
            messages. You can also create private HOPs - for your customers
            only - to highlight new products, grand openings, or any other
            big news that will have your customer base HOPPIN!
            %br
            %br
              Find out how to use CASHHOPPERS to your bussiness's advantage.
            %br
            .two-buttons
              %ul
                %li
                  = link_to 'LEARN MORE', pages_business_level_path ,:class => 'btn btn-warning business-button'

                %li
                  = link_to 'SIGN ME UP','#last-page',:class => 'btn  btn-success business-button'


    .span2


.page-divider
%h2{:id=>"trade_event"}
.custom-pg.events-page
  %h2{:id=>"events-page"}
  .row-fluid
    .span2
    .span8.text-center.page-3
      .top-sign
        = succeed "HOPPERS" do
          %span.weight CASH
        FOR TRADE
        %span.weight SHOWS
        &
        %span.weight EVENTS
      %br
      .row-fluid
        .span6.text-left
          = image_tag 'home_event.png', :class => 'event-img', :id => "event-img"
        .span6.text-left
          .text.text-event
            Let CASHHOPPERS drive consumers to your exhibitors' boothe! This exciting and affordable game
            has been proven to engage show visitors more, increase traffic at participating booth, initiate
            customer relationships, and INCREASE PROFITS FOR TRADE SHOW PRODUCERS like no other tool.
            %br
              Find out how you can use CASHHOPPERS at your next trade show or event
            %br
            .two-buttons
              %ul
                %li
                  = link_to 'LEARN MORE',  pages_trade_show_path ,:class => 'btn btn-warning business-button'
                %li

                  = link_to 'SET AN APPOINTMENT', "#last-page",:class => 'btn  btn-success business-button mini-button'
    .span2


.page-divider
.custom-pg.page-last{style: ' display: table'}
  .divas1
    .divas2
      .row-fluid#last-page
        .span1
        .span5
          .top-sign
            WANT TO
            %span.weight LEARN
            MORE ?
          %br
          %br
            Contact CashHoppers for more information:
            %br
            %br
            (317) 572-8002
            %br
            %br
            %span.weight
              HopMaster@CASHHOPPERS.com
          %br
          %br
        .span4
          .top-sign
            WE'RE SOCIAL.
          %br
            .last-list
              TO KEEP IN-THE-KNOW
              AND SEE WHAT OTHERS
              ARE DOING, JOIN US.
            .center.text-center
              .social-links
                %a{href: '/auth/facebook', class: 'services'}
                  =image_tag('f.png', :style=>'height:50px')
                %a{href: '/auth/twitter', class: 'services'}
                  =image_tag('t.png', :style=>'height:50px')
                %a{href: '/auth/google', class: 'services'}
                  =image_tag('g.2.png', :style=>'height:50px')
.span2
.page-divider
%br
%br
  %ul.bottom-menu
    %li
      = link_to 'HOME', '#'
    %li
      %a.navigation{:href=>"#gray-page"} ABOUT
    %li
      %a.navigation{:href=>"#yellow-page"} HOW TO PLAY
    %li
      %a.navigation{:href=>"#what-page"} GALLERY
    %li
      = link_to 'BUSINESS',  pages_business_level_path
    %li
      = link_to 'TRADE SHOWS', pages_trade_show_path
    %li
      %a.navigation{:href=>"#last-page"} CONTACT
    %li
      = link_to 'TERMS', pages_terms_path


