.custom-pg.first-page{style: "background-image: url(#{asset_path "background#{rand(3)+1}.jpg"}); display: table; position: relative;"}
  .social-links#social1{style: "position: absolute; right:0; top:0"}
    = link_to 'Login', new_user_session_path, class: 'btn btn-link'
    |
    = link_to 'Sigh Up', new_user_registration_path, class: 'btn btn-link'
    %a{href: '/auth/facebook', class: 'services'}
      =image_tag('facebook.png', :style=>'height:50px')
    %a{href: '/auth/twitter', class: 'services'}
      =image_tag('twitter.png', :style=>'height:50px')
    %a{href: '/auth/google', class: 'services'}
      =image_tag('google.png', :style=>'height:38px')
  .divas1
    .top-sign#firsttop-sign
      IT PAYS TO GET AROUND
      %p The photo-scavenger game that pays tou cash
    .divas2
      .phone
        .carousel.slide#myCarousel
          .carousel-inner
            - @user_hop_tasks.each do |task|
              .item
                =image_tag task.photo.url, :style => 'height:100%; width:100%'
          %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
          %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
.page-divider
.custom-pg.gray-page{style: ' display: table'}
  .divas1
    .divas2
      %h2{:id=>"gray-page"}
      .row-fluid
        .span2
        .span8.video
          .top-sign
            WHAT IS
            = succeed "HOPPERS" do
              %span.weight CASH
            ALL ABOUT ?
          %br
          %br
          .video-text#thevideo
            = video_tag ["video/media.mp4"],   :width => '80%', :height=> '80%' , :controls => true,:type=>"video/mp4", :autobuffer => true
          %br
          %br
            .video-text
              CASHHOPPERS is a photo scavenger hunt contest you play on your cell phone for CASH and other prizes
              There a Daily HOPs where you can complete against other Hoppers from around the globe. Or you can join
              private HOPs played at trade shows, fairs, weddings receptions, school fundraisers, and more!
              %br
                .weight
                  Download the
                  =link_to 'FREE CASHHOPPERS APP', '#'
                  today and start HOPPING!
        .span2
.page-divider
.custom-pg.yellow-page{style: ' display: table'}
  .divas1
    .divas2
      %h2{:id=>"yellow-page"}
      .row-fluid
        .span2
        .span8.video
          .top-sign
            HOW TO
            %span.weight PLAY
          %br
          .video-text#thevideo
            = video_tag ["video/media.mp4"],  :width => '80%', :height=> '80%' , :controls => true,:type=>"video/mp4", :autobuffer => true
          .video-text
            %ul
              %li
                Download the
                %span.weight
                  = link_to 'FREE app.', '#'
              %li
                Find the HOP you want to play(enter the password if it's a private HOP).
              %li
                Start taking pictures on the list (Remember, you have to be visible in every picture to be eligible.)
              %li
                Add an optional comment and share your picture on Facebook.
              %li
                Wait to see if you've won!
            It's that easy !
            %br
              =link_to 'TOUR A DAILY HOP', '#', :class => 'btn btn-success '
              =link_to 'TOUR A TRADE SHOW HOP', '#', :class => 'btn btn-success '
        .span2
.page-divider
.custom-pg.what-page
  .divas1
    .divas2
      %h2{:id=>"what-page"}
      .row-fluid
        .span2
        .span8.text-center.page-3
          .top-sign
            AT THE HOP
          %br
            %p See what other Hoppers are taking pictures of and pick your favorites!
          %br
          .carousel.slide#carousel2{:style=>'min-width: 100px'}

            .carousel-inner
              - unless @tasks_pack.blank?
                - @tasks_pack.each do |pack|
                  .item
                    - unless pack.blank?
                      - pack.each do |task|
                        .inline
                          = image_tag( task.photo.url ,  :width => '20%', :style => "display: inline")
            %a.carousel-control.left{"data-slide" => "prev", :href => "#carousel2"} ‹
            %a.carousel-control.right{"data-slide" => "next", :href => "#carousel2"} ›
        .span2
.page-divider
.custom-pg.business-page
  .divas1
    .divas2
      .row-fluid#business
        %h2{:id=>"business-page"}
        .span2
        .span8.text-center.page-3
          .top-sign
            = succeed "HOPPERS" do
              %span.weight CASH
            FOR
            %span.weight BUSINESS
          %br
          .row-fluid
            .span6.text-left
              .business
                The CASHHOPPERS game is a great tool to add to your marketing
                and advertising mix. SPONSOR a HOP item, and drive players to your
                booth, building or web site. ADVERTISE within the app and reach
                players with promotional opportunities, product discounts or brand
                messages. You can also create private HOPs - for your customers
                only - to highlight new products, grand openings, or any other
                big news that will have your customer base HOPPIN!
                %br
                %br
                  Find out how to use CASHHOPPERS to your bussiness's advantage.
                %br
                %br
                = link_to 'LEARN MORE', '#',:class => 'btn btn-warning'
                %br
                %br
                = link_to 'SIGN ME UP', new_user_registration_path,:class => 'btn  btn-success '
            .span6.text-left
              = image_tag 'home_business.png', :class => 'business-img',:width=>"70%" ,:height=>"70%", :id=>"business"
        .span2
.page-divider
.custom-pg.events-page
  %h2{:id=>"events-page"}
  .row-fluid
    .span2
    .span8.text-center.page-3
      .top-sign
        = succeed "HOPPERS" do
          %span.weight CASH
        FOR TRADE
        %span.weight SHOWS
        &
        %span.weight EVENTS
      %br
      .row-fluid
        .span6.text-left
          = image_tag 'home_event.png', :class => 'event-img',  :width=>"50%" ,:height=>"20%"
        .span6.text-left
          .text
            Let CASHHOPPERS drive consumers to your exhibitors' boothe! This exciting and affordable game
            has been proven to engage show visitors more, increase traffic at participating booth, initiate
            customer relationships, and INCREASE PROFITS FOR TRADE SHOW PRODUCERS like no other tool.
            %br
              Find out how you can use CASHHOPPERS at your next trade show or event
            %br
              = link_to 'LEARN MORE', '#',:class => 'btn btn-warning'
            %br
              = link_to 'SET AN APPOINTMENT', '#',:class => 'btn  btn-success'
    .span2
.page-divider
.custom-pg.page-last{style: ' display: table'}
  .divas1
    .divas2
      .row-fluid.video-text#last-page
        .span1
        .span5
          .top-sign
            WANT TO
            %span.weight LEARN
            MORE ?
          %br
          %br
            Contact CashHoppers for more information:
            %span.weight
              = link_to 'CashHoppersMaster.com', ''
          %br
          %br
        .span4
          .top-sign
            WE'RE SOCIAL.
          %br
            .last-list
              TO KEEP IN-THE-KNOW
              AND SEE WHAT OTHERS
              ARE DOING, JOIN US.
            .center.video
              .social-links
                %a{href: '/auth/facebook', class: 'services'}
                  =image_tag('facebook.png', :style=>'height:50px')
                %a{href: '/auth/twitter', class: 'services'}
                  =image_tag('twitter.png', :style=>'height:50px')
                %a{href: '/auth/google', class: 'services'}
                  =image_tag('google.png', :style=>'height:38px')
        .span2
.page-divider
%br
%br
  %ul.bottom-menu
    %li
      = link_to 'HOME', '#'
    %li
      = link_to 'ABOUT'
    %li
      = link_to 'HOW TO PLAY'
    %li
      = link_to 'GALLERY'
    %li
      = link_to 'BUSINESS'
    %li
      = link_to 'TRADE SHOWS'
    %li
      = link_to 'CONTACT'
    %li
      = link_to 'TERMS'
    %li
      = link_to 'DOWNLOAD APP'
  %ul.bottom-menu
    %li
      = link_to 'LOGIN'
    %li
      = link_to 'BUSINESS SIGN UP'
    %li
      = link_to 'TRADE SHOW SIGN UP'
    %li
      = link_to 'ADVERTISE'
    %li
      = link_to 'FACEBOOK'
    %li
      = link_to 'TWITTER'
    %li
      = link_to 'GOOGLE+'
  %ul.bottom-menu
    %li
      = link_to 'Home', root_path
    %li
      = link_to 'Admin Page', admin_index_path if current_user && !current_user.role?('user')
    %li
      = link_to 'My Services', services_path
    %li
      = link_to 'Friends', friends_path
    %li
      = link_to 'Messages', messages_friends_list_path
    %li
      = link_to 'Hoppers activity (temp)', pages_hoppers_activity_path
    - if current_user
      %li
        = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-link'
