:css
  body {
      padding: 0%;
      /*display: none;*/

  }
  .span12.text-center{
      margin: 0;
  }
  fieldset.btn.profile{
    width: 90%;
  }
  table tr td div{
     word-wrap: break-word;

  }



.span12.text-center

  %fieldset.btn.profile

    = will_paginate @user_hop_tasks, renderer: BootstrapPagination::Rails, inner_window: 0, outer_window: 0
    #hopper-activity
      %table.table.table-condensed
        %tr
          %th
            User Name
          %th
            Hop Name
          %th
            task
          %th
            created at
          %th
            Comment
          %th
            Likes
          %th
            Photo
        - @user_hop_tasks.each do |task|
          -if task.hop_task && task.hop_task.hop
            %tr
              %td
                %div
                  = link_to task.user.first_name, user_path(task.user) if task.user
              %td
                %div.hop-name
                  = task.hop_task.hop.name if task.hop_task && task.hop_task.hop
              %td
                %div.task-div
                  = task.hop_task.text if task.hop_task
              %td
                %div
                  = task.created_at
              %td
                %div.fix-long-div
                  = task.comment
              %td
                = Like.where(target_object_id: task.id, target_object: 'UserHopTask').count
              %td.photo
                = image_tag task.photo, class: 'img-polaroid', style: 'height: 110px; width: 110px' if task.photo.exists?




    = will_paginate @user_hop_tasks, renderer: BootstrapPagination::Rails, inner_window: 0, outer_window: 0
