<h1>Listing daily_hops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Text for item</th>
    <th>Winner</th>
    <th>Points</th>
    <th>Share point</th>
    <th>Jackpot</th>
    <th>Users</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @daily_hops.each do |daily_hop| %>
  <tr>
    <td><%= daily_hop.name %></td>
    <td><%= daily_hop.text_for_item %></td>
    <td><%= daily_hop.winner %></td>
    <td><%= daily_hop.points %></td>
    <td><%= daily_hop.share_point %></td>
    <td><%= daily_hop.jackpot %></td>
    <td><%= daily_hop.users %></td>
    <td><%= link_to 'Show', daily_hop %></td>
    <td><%= link_to 'Edit', edit_daily_hop_path(daily_hop) %></td>
    <td><%= link_to 'Destroy', daily_hop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Hop', daily_hop.hop  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Daily hop', new_daily_hop_path %>
