- if @ad.errors.any?
  - @ad.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= form_for([:admin, @ad]) do |f|
  = f.hidden_field :hop_id
  %table.hops-form
    - if @hop
      %tr
        %td
          %b
            Hop:
        %td
          = @hop.name
    - if @ad.ad_type
      %tr
        %td
          %b
            Type:
        %td
          = @ad.ad_type
          = f.hidden_field :ad_type
    - else
      %tr
        %td
          %b
            Type:
        %td
          = f.select :ad_type, options_for_select(Ad.types(@hop), @ad.ad_type), :class => 'span12'
    %tr
      %td
        %b
          Price:
      %td
        = f.text_field :price, class: 'span12'
    - if @ad.ad_type == 'CS'

      %tr#task
        %td
          %b
            Task:
        %td
          = f.select :hop_task_id, options_for_select(@hop.hop_tasks.map{|i| [i.text[0..25], i.id]}),{},{required: 'required', :class => 'span12'}

    -else
      %tr#task{style: 'display: none;'}
        %td
          %b
            Task:
        %td
          = f.select :hop_task_id, options_for_select(@hop.hop_tasks.map{|i| [i.text[0..25], i.id]}),{},{ :class => 'span12'}

    %tr
      %td
        %b
          AMT/PAID:
      %td
        = f.text_field :amt_paid, class: 'span12'
    %tr
      %td
        %b
          Link:
      %td
        = f.url_field :link, class: 'span12'

    %tr
      %td
        %b
          Advertiser:
      %td
        = f.select :advertizer_id,  options_for_select( User.all.map {|user| [user.email, user.id]},current_user.id), :class => 'span12'
        %tr
          %td
            %b
              Time start:
          %td
            #datetimepicker1.input-append.date
              = f.text_field :time_start, 'data-format' => 'dd/MM/yyyy hh:mm:ss', 'type' => 'text'
              %span.add-on
                %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
                :javascript
                  $(function(){
                      $('#datetimepicker1').datetimepicker({
                          language: 'pt-BR'
                      });
                  });
          %tr
            %td
              %b
                Time end:
            %td
              #datetimepicker2.input-append.date
                = f.text_field :time_end, 'data-format' => 'dd/MM/yyyy hh:mm:ss', 'type' => 'text'
                %span.add-on
                  %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
                  :javascript
                    $(function(){
                        $('#datetimepicker2').datetimepicker({
                            language: 'pt-BR'
                        });
                    });


    %tr
      %td
        %b
          Add file:
      %td
        .fileupload.fileupload-new{'data-provides' => 'fileupload'}
          .fileupload-preview.fileupload-exists.thumbnail{style: 'max-width: 200px; max-height: 150px; line-height: 20px;'}
            = image_tag @ad.picture.url, style: 'max-width: 200px; max-height: 150px;'
          %div
            = f.file_field :picture
            %a{href: "#", class: "btn fileupload-exists", 'data-dismiss' => 'fileupload'}
              Remove
    %tr
      %td{colspan: 2}
        - if @hop
          = link_to 'Submit', '#', class: 'btn btn-info', onclick: 'ads_modal.submitForm({hop_id: ' + @hop.id.to_s + '}); return false;'
        - else
          = link_to 'Submit', '#', class: 'btn btn-info', onclick: 'ads_modal.submitForm({type: "' + @ad.ad_type + '"}); return false;'

