<%= form_for([:admin, @hop_ad]) do |f| %>
<% if @hop_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hop_ad.errors.count, "error") %> prohibited this hop_task from being saved:</h2>

      <ul>
        <% @hop_ad.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>


  <table>
    <tr>
      <td>Ad name</td>
      <td><%= f.text_field :ad_name %></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><%= f.text_field :price %></td>
    </tr>
    <tr>
      <td>AMT</td>
      <td><%= f.text_field :amt %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td>Link to ad</td>
      <td><%= f.url_field :link_to_ad%></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><%= f.text_field :contact%></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= f.email_field :email%></td>
    </tr>

    <tr>
      <td>Photo</td>
      <td><%= f.file_field :hop_ad_picture %></td>
    </tr>

      </table>
    <% if @hop_ad.hop_id %>

        <br />
       <div class="field">
           <%= f.radio_button :ad_type, "sp"%>
             "SP"
           <%= f.radio_button :ad_type, "rofl" %>
            "ROFL"
          <% if @hop_ad.hop.daily %>
             <%= f.radio_button :ad_type, "ropu"%>
            "ROPU"
          <% end %>

       </div>
       <br />
   <% else %>

        <br />
       <div class="field">
          <%= f.radio_button :ad_type, "log_in", :checked => true %>
           "log_in"
          <%= f.radio_button :ad_type, "hop_list" %>
           "hop_list"
          <%= f.radio_button :ad_type, "gallery"%>
          "gallery"
          <%= f.radio_button :ad_type, "friends"%>
          "friends"
         <%= f.radio_button :ad_type, "message"%>
          "message"
        </div>

        <br />

   <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

 <% end %>
