%table.table.table-condensed
  %tr
    %th
      Advertizer
    %th
      Hop
    %th
      Price
    %th
      AMT/PAID
    %th
      Link
    %th
      Picture
    %th
  - @ads.each do |ad|
    %tr
      %td
        - if ad.advertizer
          = ad.advertizer.first_name
          = ad.advertizer.last_name
      %td
        = ad.hop.name
      %td
        = ad.price
      %td
        = ad.amt_paid
      %td
        = ad.link
      %td
        = image_tag ad.picture.url, class: 'img-polaroid', style: 'height: 110px; max-width: 300px'
      %td{style: 'text-align: right'}
        -#= link_to 'Edit', edit_admin_hop_task_path(hop_task)
        -#= link_to 'Destroy',  [:admin, hop_task], :confirm => 'Are you sure?', :method => :delete
