%h1 Listing ads

%table{:id=>"show"}
  %tr
    %th Ad name
    %th Contact
    %th Email
    %th Phone
    %th Price
    %th
    %th
    %th

  - @hop_ads.each do |hop_ad|
    %tr
      %td= hop_ad.ad_name
      %td= hop_ad.contact
      %td= hop_ad.email
      %td= hop_ad.phone
      %td= hop_ad.price
      %td= link_to 'Show', admin_ad_path(hop_ad)
      %td= link_to 'Edit', edit_admin_ad_path(hop_ad)
      %td= link_to 'Destroy', admin_ad_path(hop_ad), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hop ads', new_admin_ad_path
