- if current_user
  = current_user.email
  = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-link'
  %br
  role:
  - current_user.roles.each do |role|
    = role.name
- else
  = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-link'
  = link_to 'Sigh In', new_user_session_path, class: 'btn btn-link'
  %a{href: '/auth/facebook', class: 'services'}
    = image_tag 'btn_login_facebook.png', size: '165x64', alt: 'Facebook'
  %a{href: '/auth/twitter', class: 'services'}
    = image_tag 'btn_login_twitter.png', size: '150x64', alt: 'Twitter'
  %a{href: '/auth/google', class: 'services'}
    = image_tag 'btn_login_google.png', size: '175x64', alt: 'Twitter'
