.header
  .row-fluid
    .header-content
      .span6
        .header-left
          %ul
            %li
              %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#gray-page": root_path}"} ABOUT
            %li
              %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#yellow-page": root_path}"} HOW TO PLAY
            %li
              %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#what-page": root_path}"} PHOTO GALLERY
            %li
              %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#business-page": root_path}"} BUSINESSES
            %li
              %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#events-page": root_path}"} SHOWS & EVENTS
      .span4
        .header-right
          .button-container
            %input.btn.btn-large.btn-warning{value: 'DOWNLOAD THE APP', type: :button}
      -#= image_tag 'logo.png'
