.header
  .row-fluid
    .header-content
.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"} Home
      .nav-collapse.collapse
        %ul.nav
          %li
            %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#gray-page": root_path}"} ABOUT
          %li
            %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#yellow-page": root_path}"} HOW TO PLAY
          %li
            %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#what-page": root_path}"} PHOTO GALLERY
          %li.active
            %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#business-page": root_path}"} BUSINESSES
          %li
            %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#events-page": root_path}"} SHOWS & EVENT
          %li
            = link_to 'My Services', services_path, :class => 'navigation'  
          %li.divider-vertical
          %li
            %a.dropdown-toggle{"data-toggle" => "dropdown" }
              =image_tag('/assets/button-app-store.png')
            %ul.dropdown-menu.button
              %li
                %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#gray-page": root_path}"}
                  =image_tag('/assets/button-app-store.png')
              %li
                %a.navigation{:href=>"#{(controller_path == "pages" && params[:action] == "home")?"#yellow-page": root_path}"}
                  =image_tag('/assets/button-app-store.png')