%ul.nav.nav-tabs.nav-stacked.non-print
  %li
    = link_to 'Home', root_path
  %li
    = link_to 'Admin Page', admin_index_path if can? :manage, :all
  %li
    = link_to 'My Services', services_path
  %li
    = link_to 'Friends', friends_path
  %li
    = link_to 'Messages', messages_friends_list_path
  %li
    = link_to 'Hoppers activity (temp)', pages_hoppers_activity_path
  %li
    =  current_user.roles  if current_user
  %li
    Admin
    = User.admin?(current_user)
    Sponsor
    = User.sponsor?(current_user)
    Producer
    = User.producer?(current_user)
    Advertiser
    = User.advertiser?(current_user)

- if current_user
  %ul.nav.nav-tabs.nav-stacked.non-print
    %li
      = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-link'


