<!DOCTYPE html>
<html>
<head>
  <title>CashHoppers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <div id="header">
    <h1>CashHoppers</h1>
  </div>
  <div id="content"><%= yield %></div>
  <div id="sidebar">
    <%= yield :sidebar %>
  </div>
  <div id="footer">CashHoppers&copy;All rights reserved</div>
</div>
</body>
</html>
