!!!
%html
  %head
    %title
      CashHoppers
    = stylesheet_link_tag 'application', controller_path, media: :all
    = javascript_include_tag 'application', controller_path
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1'}
    = csrf_meta_tags
  %body
    %div{style: 'position: fixed; width: 250px; height: 500px; margin-top: 100px; z-index: 100000'}
      = render partial: 'layouts/sidebar' if current_user
      = yield :sidebar
      = controller.sidebar ? (render :partial => "#{controller.sidebar}") : ''
    = render partial:  "layouts/header"
    = yield

